
{# new main navigator #}
<nav id="nav-categories" class="container-fluid">

    {# Solo aparece en responsive #}
    <header id="nav-categories-header-responsive">
        <h1>{{ 'str_categorias' | trans }} <i class="fa fa-angle-down"></i></h1>
    </header>

    {# Distintas subcategorias #}
    <ul id="categories-list">
        {% for category in categories %}
            {% if category.parentCategory == null %}
                <li><a href="/category/{{ category.id }}"><span class="evo-text">evo</span>{{ category.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

</nav>