{% extends "AppBundle::admin-layout.html.twig" %}


{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:searcher.html.twig" as searcherMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/searcher.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/tooltip.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_allEventsCreated' | trans }}</small></h1>

                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_listAllEvents' | trans }}</li>
                        </ol>
                    </section>


                    {# Creamos el buscador con el parametro como placeholder #}
                    {{ searcherMacros.printSearcher() }}


                    {# MENSAJE ERROR: Aparece cuando no se ha podido  borrar #}
                    <aside id="error-message">
                        <p>{{ 'str_deleteError' | trans }}</p>
                        <i id="close-error-message" class="fa fa-times" aria-hidden="true"></i>
                    </aside>


                    <!-- LIST -->
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-hover">
                            <tr>
                                <th class="table_header">
                                    {{ 'str_nombre' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_category' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_price' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_date' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_validDate' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_outstanding' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_options' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_public' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_isActive' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>{{ 'str_actions' | trans }}</th>
                            </tr>
                            {# Si hay categories#}
                            {% if events %}
                                {% for event in events %}
                                    {% if event.isActive == true %}<tr class="isactive">{% else %}<tr class="isnotactive">{% endif %}
                                        <td>{{ event.title }}</td>
                                        <td>{{ event.category.name }}</td>
                                        <td>{{ event.price }} €</td>
                                        <td>{{ event.date|date('Y-m-d') }}</td>
                                        <td>{{ event.validDate|date('Y-m-d') }}</td>
                                        <td>
                                            {% if event.isOutstanding == 1 %}
                                                {{ 'str_yes' | trans }}
                                            {% else %}
                                                {{ 'str_no' | trans }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if event.purchaseOption == 0 %}
                                                {{ 'str_informa' | trans }}
                                            {% elseif event.purchaseOption == 1 %}
                                                {{ 'str_reserva' | trans }}
                                            {% elseif event.purchaseOption == 2 %}
                                                {{ 'str_compra' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if event.isPublic == true %}
                                                {{ 'str_yes' | trans }}
                                            {% else %}
                                                {{ 'str_no' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if event.isActive == true %}
                                                {{ 'str_yes' | trans }}
                                            {% else %}
                                                {{ 'str_no' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if event.isPublic %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-lock modify-isnotpublic" aria-hidden="true" onclick="setPrivate({{ event.id }})"></i>
                                                    <span>{{ 'str_convertPrivate' | trans }}</span>
                                                </a>
                                            {% else %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-unlock modify-ispublic" aria-hidden="true" onclick="setPublic({{ event.id }})"></i>
                                                    <span>{{ 'str_convertPublic' | trans }}</span>
                                                </a>
                                            {% endif %}

                                            {% if event.isActive %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-eye-slash modify-isnotvisible" aria-hidden="true" onclick="setInactive({{ event.id }})"></i>
                                                    <span>{{ 'str_desactivate' | trans }}</span>
                                                </a>
                                            {% else %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-eye modify-isvisible" aria-hidden="true" onclick="setActive({{ event.id }})"></i>
                                                    <span>{{ 'str_activate' | trans }}</span>
                                                </a>
                                            {% endif %}

                                            <a class="tooltips" href="/admin/edit/event/{{ event.id }}">
                                                <i class="fa fa-pencil-square-o modify-user" aria-hidden="true"></i>
                                                <span>{{ 'str_edit' | trans }}</span>
                                            </a>

                                            <a class="tooltips" href="/admin/edit/event/{{ event.id }}">
                                                <i onclick="deleteEvent({{ event.id }})" class="fa fa-times delete-user" aria-hidden="true"></i>
                                                <span>{{ 'str_delete' | trans }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {# si NO hay admins, mostramos mensaje#}
                            {% else %}
                                <tr>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                </tr>
                            {% endif %}
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block someAjaxActions %}
    <script>
        function deleteEvent(id)
        {
            // Si el usuario confirma
            if (confirm('Ha seleccionado la opción: Borrar un evento. Si acepta se procederá con la acción de borrado.')) {
                var datos = {};
                datos.id = id;

                $.ajax({
                    url: ' {{ path('delete_event') }} ',
                    data: datos,
                    type: 'post'
                }).success(function (data) {
                    if(data.type == 'OK'){
                        window.location.reload();
                    }
                });
            }
        }

        function setPublic(id)
        {
            // Si el usuario confirma

            var datos = {};
            datos.id = id;

            $.ajax({
                url: ' {{ path('fast_public_event') }} ',
                data: datos,
                type: 'post'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
            });

        }

        function setPrivate(id)
        {
            // Si el usuario confirma

            var datos = {};
            datos.id = id;

            $.ajax({
                url: ' {{ path('fast_private_event') }} ',
                data: datos,
                type: 'post'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
            });

        }

        function setActive(id)
        {
            // Si el usuario confirma

            var datos = {};
            datos.id = id;

            $.ajax({
                url: ' {{ path('fast_active_event') }} ',
                data: datos,
                type: 'post'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
            });

        }

        function setInactive(id)
        {
            // Si el usuario confirma

            var datos = {};
            datos.id = id;

            $.ajax({
                url: ' {{ path('fast_inactive_event') }} ',
                data: datos,
                type: 'post'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
            });

        }

        $('#close-error-message').click(function(){
            $('#error-message').slideUp();
        });
    </script>
{% endblock %}