{# Usado para crear la estructura de "migas de pan" #}
{% macro printExtraImages(images) %}

    {# Lista de imagenes pequeñas para seleccionar a visualizar en grande#}
    <nav id="image-list">
        <ul>

            {# A continuación mostramos el resto de fotografías #}
            {% for image in images %}

                {% if image.type == 'image' %}
                    <li class="image-list-element">
                        <img src="{{ asset(image.path) }}" alt="{{ 'str_textoAlternativoFoto' | trans }}">
                    </li>
                {% endif %}

            {% endfor %}

        </ul>
    </nav>

{% endmacro %}