<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block browserTitle %} {% endblock %}</title>

    {{ include('AppBundle::admin/_modules/header-dependences.html.twig') }}

    {# OWN JS #}
    {%  block ownjs %}           {% endblock %}

    {# OWN CSS #}
    {%  block owncss %}          {% endblock %}
    {%  block more_scripts %}    {% endblock %}


</head>
<body>

    {# Navegador superior, accesos directos #}
    {{ include('AppBundle::admin/_modules/navigator-top.html.twig') }}

    {# Navegador principal, left menu #}
    {{ include('AppBundle::admin/_modules/navigator-main.html.twig') }}

    {# contenido dinamico #}
    {% block content %} {% endblock %}

    {# Javaascript necesario, antes del body para no relantizar la carga #}
    {{ include('AppBundle::admin/_modules/js-endBody.html.twig') }}

    {% block mapjs %}       {% endblock %}
    {% block fineuploder %} {% endblock %}

    {# Aqui irá el código para modificar y eliminar los objetos #}
    {% block someAjaxActions %} {% endblock %}
</body>
</html>