{% extends "AppBundle::admin-layout.html.twig" %}


{# BROWSER TITLE #}
{% block browserTitle %}Manage petitions ~ Evolution dashboard{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/petition.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/keyframes/blink.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/checkPetitions.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/tooltip.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_allPetitionsReceived' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_listPetitions' | trans }}</li>
                        </ol>
                    </section>

                    <section id="petitions-wrapper">
                        {% for petition in petitions %}
                            <div class="panel-element panel panel-success panel-petition">
                                <div class="panel-heading">
                                    <h2>Done by <span class="light">{{ petition.user.userName }} - {{ petition.date | date("Y/m/d")}}</span></h2>

                                    <a class="tooltips" href="/admin/checkPetition/{{ petition.id }}">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>{{ 'str_file' | trans }}</span>
                                    </a>

                                </div>
                                <div class="panel-body">
                                    <h3>{{ petition.title }}</h3>
                                    <p>{{ petition.message }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </section>

                </div>

            </div>
        </div>
    </div>
{% endblock %}