{% extends "AppBundle::admin-layout.html.twig" %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/admin/index.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/tooltip.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_validateUsersTitle' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">Validate users</li>
                        </ol>
                    </section>

                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {{ 'str_nombre' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_surname' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_nickname' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_email' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_shipname' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_shiprank' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>
                                <th>{{ 'str_actions' | trans }}</th>
                            </tr>
                            {% if users %}
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.surname }}</td>
                                        <td>{{ user.userName }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.shipName }}</td>
                                        <td>{{ user.shipRank }}</td>
                                        <td>
                                            <a class="tooltips" href="/admin/validate/user/{{ user.id }}">
                                                <i class="fa fa-check validate-user" aria-hidden="true"></i>
                                                <span>{{ 'str_validate' | trans }}</span>
                                            </a>

                                            <a class="tooltips" href="/admin/validate/cancel/{{ user.id }}">
                                                <i class="fa fa-times denny-user" aria-hidden="true"></i>
                                                <span>{{ 'str_deny' | trans }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <td><h5>-</h5></td>
                                <td><h5>-</h5></td>
                                <td><h5>-</h5></td>
                                <td><h5>-</h5></td>
                                <td><h5>-</h5></td>
                                <td><h5>-</h5></td>
                                <td><h5>-</h5></td>
                            {% endif %}

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}