ul.feed-events {
  position: relative;
  margin: 0;
  padding: 0.5em; }
  ul.feed-events li.feed-event-element {
    position: relative;
    padding: 0.5em 0.5em 0.5em 3em;
    margin-top: 0.2em; }
    ul.feed-events li.feed-event-element h3 {
      font-size: 1em;
      margin: 0; }
    ul.feed-events li.feed-event-element p {
      margin: 0;
      font-size: 0.8em; }
    ul.feed-events li.feed-event-element img {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 5px;
      left: 5px;
      border-radius: 50%; }
  ul.feed-events li.feed-event-element::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: #dedede;
    margin: 0 auto;
    position: absolute;
    bottom: -3px; }
  ul.feed-events li.feed-event-element:last-child::after {
    content: "";
    width: 0;
    height: 0; }

/*# sourceMappingURL=feed-events.css.map */
