ul.feed-comments {
  position: relative;
  margin: 0;
  padding: 0.5em; }
  ul.feed-comments li.feed-comments-element {
    position: relative;
    padding: 0.5em;
    margin-top: 0.2em; }
    ul.feed-comments li.feed-comments-element h5, ul.feed-comments li.feed-comments-element span.bold {
      font-weight: 500; }
    ul.feed-comments li.feed-comments-element h5 {
      font-size: 1em;
      margin: 0;
      font-weight: 100; }
      ul.feed-comments li.feed-comments-element h5 a {
        color: #3e3f3a; }
      ul.feed-comments li.feed-comments-element h5 a:hover {
        text-decoration: underline; }
    ul.feed-comments li.feed-comments-element p {
      margin: 0;
      font-size: 0.8em; }
  ul.feed-comments li.feed-event-element::after {
    content: "";
    width: 10%;
    height: 1px;
    background-color: #dedede;
    margin: 0 auto;
    position: absolute;
    bottom: -3px; }

/*# sourceMappingURL=feed-comments.css.map */
