@media (max-width: 480px) {
  #searcher {
    width: 150px !important; }

  #searcher:focus {
    width: 250px !important; } }
#searcher-form {
  padding: 1em 0 1em 1em;
  background: #2c3136; }

#searcher {
  border: none;
  padding: 0.5em;
  width: 200px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out; }

#searcher:focus {
  width: 400px;
  outline: none; }

#searcher-submit {
  border: none;
  background: #30b3ad;
  padding: 0.5em 1.5em;
  color: white; }

/*# sourceMappingURL=searcher.css.map */
