{% extends "AppBundle::layout.html.twig" %}

{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:event.html.twig" as eventMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}{{ 'str_tituloPaginaIndex' | trans }}{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}


{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}


{# Searcher #}
{% block headerSearcher %} {{ include('AppBundle::modules/header.html.twig') }} {% endblock %}


{# Main navigator horizontal #}
{% block navigatorMain %} {{ include('AppBundle::modules/navigator-main.html.twig') }} {% endblock %}


{# dinamic content #}
{% block content %}

    <!-- All events wrapper -->
    <section id="content-wrapper">
        {% if res %}
            <!-- All events row -->
            <div class="event-row row">
                <div class="container">

                    <header>
                        <h1>{{ 'str_resultado' | trans }}</h1>
                    </header>

                    {{ eventMacros.printEvent(res) }}

                </div>
            </div>
        {% else %}
            <header>
                <h1>{{ 'str_ningun_resultado' | trans }}</h1>
            </header>
        {% endif %}



    </section>
    <!-- End content wrapper -->
{% endblock %}


{% block footer %}{{ include('AppBundle::modules/footer.html.twig') }}{% endblock %}