{% extends "AppBundle::layout.html.twig" %}
{# ... you will probably extends your base template, like base.html.twig #}

{# BROWSER TITLE #}
{% block browserTitle %}{{ 'str_tituloPaginaEnviarPeticion' | trans }}{% endblock %}

{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/petition.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
{% endblock %}

{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}

{# Botón que envia a la vista de enviar peticion #}
{% block goToPetitionView %}{# Al estar vacio se sobrescribe y se borra #}{% endblock %}

{# Content #}
{% block content %}

    <div class="row" id="petition-wrapper">
        <div class="container-fluid">
            <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">

                {{ form_start(formPetition) }}
                    {{ form_errors(formPetition) }}
                    <div class="form-div-full">{{ form_row(formPetition.title) }}</div>
                    <div class="form-div-full">{{ form_row(formPetition.message) }}</div>
                    {{ form_row(formPetition._token) }}
                    <button type="submit">Send petition!</button>
                {{ form_end(formPetition) }}

            </section>
        </div>
    </div>
{% endblock %}


