#petitions-wrapper .panel-body p, #petitions-wrapper .panel-body h3 {
  margin: 0 !important; }
#petitions-wrapper .panel-body p {
  text-align: justify; }
#petitions-wrapper .panel-heading a.tooltips {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 30px;
  height: 30px; }

@media (max-width: 768px) {
  #petitions-wrapper .panel-petition.panel-element {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    display: block; } }

/*# sourceMappingURL=checkPetitions.css.map */
