<div class="brand clearfix">
    <a href="/admin" class="logo">
        <span>EVO</span>LUTION</a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>

    <ul class="ts-profile-nav">

        <li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>{{ 'str_salirDeAdmin' | trans }}</a></li>

        <li class="ts-account">
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                {{ app.user.username }}
                <i class="fa fa-angle-down hidden-side"></i>
            </a>
            <ul>
                <li><a href="/logout">{{ 'str_logout' | trans }}</a></li>
            </ul>
        </li>

    </ul>
</div>

<aside id="change-language-wrapper">
    <button>{{ 'str_cambiarIdioma' | trans }}<i class="fa fa-caret-down" aria-hidden="true"></i></button>

    <div id="languagesList">
        <div onclick="setLocale('en')">{{ 'str_english' | trans }}</div>
        <div onclick="setLocale('es')">{{ 'str_spanish' | trans }}</div>
    </div>
</aside>

{% block someAjaxActions %}
    <script>

        // Mostramos/ocultamos los idiomas pertinentes
        $(document).ready(function(){
            $('#change-language-wrapper button').click(function(){
                if($('#languagesList').is(':visible'))
                    $('#languagesList').slideUp('fast');
                else
                    $('#languagesList').slideDown('fast');
            });
        });

        function setLocale(locale)
        {

            $.ajax({
                url: '/set/locale/'+locale,
                type: 'get'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
            });

        }
    </script>
{% endblock %}