{% if event.files %}

    {% set trobat = 0 %}
    {% for image in event.files %}

        {% if image.type == 'image' and trobat == 0 %}
            <img src="{{ asset(image.path) }}" alt="Event miniature avatar">
            {% set trobat = 1 %}
        {% endif %}
    {% endfor %}

{% endif %}