@media (min-width: 993px) and (max-width: 1199px)
  a.event-element article.event
    img
      max-height: 130px !important
                                                  
// Tablet
@media (min-width: 768px) and (max-width: 992px)
  a.event-element article.event
    height: 350px !important
    max-height: 350px !important
    img
      height: 220px !important
      max-height: 220px !important


// Intermedio
@media (min-width: 470px) and (max-width: 767px)
  a.event-element
    width: 48%
    margin: 0
    max-width: 48%
    display: inline-block
    img
      height: 180px !important
      max-height: 180px !important



@media (min-width: 471px) and (max-width: 767px)
  a.event-element article.event
    height: 335px !important
    max-height: 335px !important


@media (min-width: 470px) and (max-width: 599px)
  a.event-element article.event
    height: 300px !important
    max-height: 300px !important


// Movil
@media (min-width: 410px) and (max-width: 469px)
  // Centrar texto
  div.event-row
    header
      padding-left: 0
      h1
        text-align: center

    // Resize del height
    a.event-element article.event
      width: 100%
      height: 385px !important
      max-height: 385px !important
      img
        height: 200px !important
        max-height: 200px !important


@media (max-width: 409px)
  div.event-row
    header
      padding-left: 0
      h1
        text-align: center

    // Resize del height
    a.event-element article.event
      width: 100%
      height: 350px !important
      max-height: 350px !important