// VARIABLES
$RGBmainColor: rgb(48, 179, 173)
$RGBAmainColor: rgba(48, 179, 173,1)
$RGBmainColorHover: rgb(33,158,152)
$mainFontFamily: "Roboto", sans-serif


@media (max-width: 992px)
  #aside
    padding: 0

    /* Lista que engloba todas las subcategorias <ul> */
    ul.submenu
      margin: 0
      padding: 0

      /* Header de cada uno de los sub menús */
      header.submenu-header
        margin-bottom: 0

        /* Disminuimos tamaño de los títutlos de submenus */
        h2
          padding: 0.5em 0
          font-size: 1.2em
        i
          visibility: visible

      header.submenu-header:hover
        background-color: $RGBmainColor
      > div
        display: none

        /* Quitamos el padding-left de los <li> */
        li
          padding: 0
          /* Ocultamos las flechas */
          i
            display: none
          /* Centramos el texto */
          a
            text-align: center
            padding: 0.5em 0

          /* Resize de los cuadros de los filtros */
          div.filter-wrapper
            padding: 1em 0

            header
              /* Centramos el texto y quitamos alto */
              h3
                text-align: center
                margin: 0

            /* Metemos los inputs en la misma linia */
            div.checkbox-option
              display: inline-block
              width: 49%
              max-width: 49%
              margin-top: 1em
              text-align: right
              padding-right: 1em

            /* Segon checkbox */
            div.checkbox-option:last-child
              text-align: left
              padding-right: 0
              padding-left: 1em


  /* Referente al datePicker */
  #datePicker-wrapper
    p
      text-align: center
      margin-top: 1em
    input
      width: 50%
      max-width: 50%
      display: block
      margin: 0 auto
      margin-bottom: 0
      text-align: center


  /* Resize de la barra deslizadora de precios */
  #aside ul.submenu li .filter-wrapper .slider-container
    width: 60% !important
    max-width: 60% !important
    margin: 0 auto
    margin-top: 2em
    margin-bottom: 2em


@media (max-width: 600px)
  #aside ul.submenu header.submenu-header h2 i
    right: 20%

