// Colors
$corporativeColor : #30b3ad
$navMainBG: #333
$scrollColor: rgba(33,25,27,1)



@media (min-width: 992px)
  // Quitamos el header de la version responsive
  #nav-categories-header-responsive
    display: none

  // Hacemos aparecer a las categorias
  #categories-list
    list-style-type: none
    margin: 0 auto
    padding: 0
    text-align: center
    display: block !important

    // Cada una de las categorias
    >li
      border: none !important
      display: inline-block !important
      position: relative
      list-style: none
      background-color: transparent !important

      // Links internos a las categorias
      >a
        display: inline-block
        color: white !important
        padding: 24.5px 16px !important
        text-decoration: none
        text-transform: uppercase !important
        font-weight: bold !important
        opacity: 1 !important
        text-transform: uppercase
        span.evo-text
          color: white !important

      // Menu Hover de subcategories
      ul.hover-menu
        display: block !important
        position: absolute
        top: 73px
        border-bottom: 5px solid $corporativeColor
        background: white
        padding: 1em 2em
        li.hover-menu-li
          list-style: none
          a
            color: #111
            font-size: 0.7em
            &hover
              color: red


  #categories-list li a:hover
    background-color: $corporativeColor
    color: white
