// Colors
$RGBmainColor: rgb(48, 179, 173)
$RGBmainColorHover: rgb(33,158,152)




@media (min-width: 768px) and (max-width: 991px)
  // Cambiamos de nuevo los tamaños maximos de las imagenes para que no baile el diseño
  #product
    #images-wrapper
      #image-active
        img
          max-height: 210px !important
      #image-list
        ul
          li
            img
              max-height: 30px !important

  // Eliminamos el espaciado del contenedor derecho para que quede mas apretado
  #product  #right-wrapper
    padding: 0 15px





@media (min-width: 500px) and (max-width: 767px)
  #images-wrapper-responsive
    img
      height: 350px
      max-height: 350px

  #image-list-responsive
    ul
      li
        img
          max-height: 100px




@media (max-width: 499px)
  #images-wrapper-responsive
    img
      height: 200px
      max-height: 200px

  #image-list-responsive
    ul
      li
        img
          height: 60px
          max-height: 60px








@media (max-width: 767px)

  #right-wrapper
    padding: 0 !important

  // Mostramos el responsive para cambiar el orden de los elementos
  #images-wrapper-responsive
    display: block !important
    img
      width: 100%
      max-width: 100%


  // Listado de las demás fotos en caso de existir
  #image-list-responsive
    margin-top: 0.5em
    ul
      padding: 0
      li
        position: relative
        display: inline-block
        list-style: none
        width: 32%
        max-width: 32%
        padding: 0.5em
        img
          max-width: 100%
          width: 100%
        img:hover
          cursor: pointer

  // Tags
  #tags-wrapper-responsive
    h2
      font-weight: bold
      font-size: 1em
      margin-top: 2em
      color: #282828
    // Cada uno de los tags
    span.tag
      background: $RGBmainColor
      padding: 0.3em
      color: white
      font-weight: bold
      font-size: 0.8em
      display: inline-block
      margin: 0.2em 0.1em

    span.tag:hover
      background: $RGBmainColorHover
      cursor: pointer


  #tags-wrapper-responsive
    display: block !important


  #product

    // Ocultamos esto para cambiar el orden
    #images-wrapper
      display: none
    #tags-wrapper
      display: none


    #description-info

      // Contenedor de todas las fechas
      #dates-wrapper

        // Fecha realizacion y validez
        div.date-wrapper
          display: block
          width: 100%
          max-width: 100%
          margin-bottom: 1em
          i
            font-size: 2em
            top: -5px
          p
            padding-left: 2.5em
            display: inline-block
          p:last-child
            padding: 0 !important

  #footer
    margin-top: 10em



/* Cambio tamaño @events */

// Tablet
@media (min-width: 768px) and (max-width: 992px)
  a.event-element article.event
    height: 350px !important
    max-height: 350px !important

// Intermedio
@media (min-width: 470px) and (max-width: 767px)
  a.event-element
    width: 48%
    margin: 0
    max-width: 48%
    display: inline-block
    article.event
      height: 350px !important
      max-height: 350px !important


// Movil
@media (min-width: 410px) and (max-width: 469px)
  // Centrar texto
  div.event-row
    header
      padding-left: 0
      h1
        text-align: center

    // Resize del height
    a.event-element article.event
      width: 100%
      height: 310px !important
      max-height: 310px !important

@media (max-width: 410px)
  div.event-row
    header
      padding-left: 0
      h1
        text-align: center

    // Resize del height
    a.event-element article.event
      width: 100%
      height: 280px !important
      max-height: 280px !important