@charset "UTF-8";
@media (max-width: 992px) {
  #aside {
    padding: 0;
    /* Lista que engloba todas las subcategorias <ul> */ }
    #aside ul.submenu {
      margin: 0;
      padding: 0;
      /* Header de cada uno de los sub menús */ }
      #aside ul.submenu header.submenu-header {
        margin-bottom: 0;
        /* Disminuimos tamaño de los títutlos de submenus */ }
        #aside ul.submenu header.submenu-header h2 {
          padding: 0.5em 0;
          font-size: 1.2em; }
        #aside ul.submenu header.submenu-header i {
          visibility: visible; }
      #aside ul.submenu header.submenu-header:hover {
        background-color: #30b3ad; }
      #aside ul.submenu > div {
        display: none;
        /* Quitamos el padding-left de los <li> */ }
        #aside ul.submenu > div li {
          padding: 0;
          /* Ocultamos las flechas */
          /* Centramos el texto */
          /* Resize de los cuadros de los filtros */ }
          #aside ul.submenu > div li i {
            display: none; }
          #aside ul.submenu > div li a {
            text-align: center;
            padding: 0.5em 0; }
          #aside ul.submenu > div li div.filter-wrapper {
            padding: 1em 0;
            /* Metemos los inputs en la misma linia */
            /* Segon checkbox */ }
            #aside ul.submenu > div li div.filter-wrapper header {
              /* Centramos el texto y quitamos alto */ }
              #aside ul.submenu > div li div.filter-wrapper header h3 {
                text-align: center;
                margin: 0; }
            #aside ul.submenu > div li div.filter-wrapper div.checkbox-option {
              display: inline-block;
              width: 49%;
              max-width: 49%;
              margin-top: 1em;
              text-align: right;
              padding-right: 1em; }
            #aside ul.submenu > div li div.filter-wrapper div.checkbox-option:last-child {
              text-align: left;
              padding-right: 0;
              padding-left: 1em; }

  /* Referente al datePicker */
  #datePicker-wrapper p {
    text-align: center;
    margin-top: 1em; }
  #datePicker-wrapper input {
    width: 50%;
    max-width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center; }

  /* Resize de la barra deslizadora de precios */
  #aside ul.submenu li .filter-wrapper .slider-container {
    width: 60% !important;
    max-width: 60% !important;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em; } }
@media (max-width: 600px) {
  #aside ul.submenu header.submenu-header h2 i {
    right: 20%; } }
@media (min-width: 993px) and (max-width: 1199px) {
  a.event-element article.event img {
    max-height: 130px !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  a.event-element article.event {
    height: 350px !important;
    max-height: 350px !important; }
    a.event-element article.event img {
      height: 220px !important;
      max-height: 220px !important; } }
@media (min-width: 470px) and (max-width: 767px) {
  a.event-element {
    width: 48%;
    margin: 0;
    max-width: 48%;
    display: inline-block; }
    a.event-element img {
      height: 180px !important;
      max-height: 180px !important; } }
@media (min-width: 471px) and (max-width: 767px) {
  a.event-element article.event {
    height: 335px !important;
    max-height: 335px !important; } }
@media (min-width: 470px) and (max-width: 599px) {
  a.event-element article.event {
    height: 300px !important;
    max-height: 300px !important; } }
@media (min-width: 410px) and (max-width: 469px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 385px !important;
    max-height: 385px !important; }
    div.event-row a.event-element article.event img {
      height: 200px !important;
      max-height: 200px !important; } }
@media (max-width: 409px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 350px !important;
    max-height: 350px !important; } }
@media (min-width: 992px) {
  a.event-element article.event {
    height: 300px !important;
    max-height: 300px !important; } }
#aside ul.submenu {
  margin-top: 5em;
  width: 100%;
  max-width: 100%;
  position: relative;
  background: white; }
  #aside ul.submenu header.submenu-header {
    background: #30b3ad;
    border-bottom: 5px solid #219e98;
    margin-bottom: 2em; }
    #aside ul.submenu header.submenu-header h2 {
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
      margin: 0;
      padding: 1em 0;
      font-family: "Roboto", sans-serif; }
    #aside ul.submenu header.submenu-header i {
      visibility: hidden;
      color: white;
      font-size: 0.8em;
      position: absolute;
      right: 25px;
      top: 10px; }
  #aside ul.submenu header.submenu-header:hover {
    cursor: pointer; }
  #aside ul.submenu > div {
    display: block; }
  #aside ul.submenu li {
    list-style: none;
    border: 1px solid #dedede;
    margin-bottom: -1px;
    position: relative; }
    #aside ul.submenu li a {
      color: #555;
      font-size: 1em;
      font-weight: 500;
      text-align: left;
      display: block;
      padding: 1em 0;
      text-transform: capitalize;
      font-family: "Roboto", sans-serif; }
    #aside ul.submenu li i {
      position: absolute;
      font-weight: bold;
      color: #30b3ad;
      left: 30px; }
    #aside ul.submenu li input {
      border: 1px solid #dedede; }
    #aside ul.submenu li .filter-wrapper .slider-container {
      position: relative;
      width: 100%;
      max-width: 100%;
      margin: 2em 0; }
    #aside ul.submenu li a:hover {
      color: #30b3ad;
      text-decoration: none; }
  #aside ul.submenu li:hover {
    cursor: pointer; }

ul#subcategories li {
  padding-left: 50px; }
  ul#subcategories li i {
    top: 16px; }

ul#filters li {
  padding: 1em 30px 1em 40px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400; }
  ul#filters li i {
    top: 25px; }
  ul#filters li header h3 {
    font-size: 1.25em;
    color: #30b3ad;
    margin: 10px 0;
    text-decoration: underline;
    font-family: "Roboto", sans-serif; }

#datePicker-wrapper p {
  margin: 0; }
#datePicker-wrapper input {
  margin-bottom: 1em;
  color: #a8a8a8;
  width: 80%;
  max-width: 80%; }

#content-wrapper {
  margin-top: 5em; }
  #content-wrapper .container {
    max-width: 100%; }

div.event-row {
  margin-bottom: 2em; }
  div.event-row header {
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em; }
    div.event-row header h1 {
      font-size: 1.5em;
      margin: 0;
      font-weight: bold;
      border-bottom: 1px solid #dedede; }
  div.event-row a.event-element {
    padding: 0.5em;
    position: relative;
    text-decoration: none; }
    div.event-row a.event-element article.event {
      overflow: hidden;
      border: 1px solid #dedede;
      padding: 0.5em; }
      div.event-row a.event-element article.event h2 {
        color: #313131;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold; }
      div.event-row a.event-element article.event p {
        color: #333;
        text-align: left; }
      div.event-row a.event-element article.event div.event-image-wrapper {
        position: relative;
        overflow: hidden;
        background: black;
        transition: all 0.5s ease;
        border: 1px solid black; }
        div.event-row a.event-element article.event div.event-image-wrapper img {
          position: relative;
          max-width: 100%;
          width: 100%;
          height: 165px;
          max-height: 165px;
          transition: all 0.5s ease; }
        div.event-row a.event-element article.event div.event-image-wrapper span.price {
          position: absolute;
          top: 10px;
          right: -55px;
          font-weight: bold;
          font-size: 1.5em;
          color: white;
          padding: 0.5em 3em 0.25em 3em;
          background: #30b3ad;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          text-transform: uppercase; }
      div.event-row a.event-element article.event div.category-wrapper {
        margin-top: 1em; }
        div.event-row a.event-element article.event div.category-wrapper p {
          font-weight: bold;
          font-size: 0.8em;
          margin: 0; }
      div.event-row a.event-element article.event div.tags-wrapper {
        overflow-y: auto;
        height: 48px; }
        div.event-row a.event-element article.event div.tags-wrapper span {
          background: #30b3ad;
          color: white;
          font-weight: bold;
          font-size: 0.8em;
          padding: 0.25em 0.5em;
          display: inline-block;
          margin-top: 0.25em; }
    div.event-row a.event-element article.event:hover,
    div.event-row a.event-element article.event:focus {
      -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      border: 1px solid #30b3ad; }

@media (max-width: 992px) {
  #aside {
    padding: 0;
    /* Lista que engloba todas las subcategorias <ul> */ }
    #aside ul.submenu {
      margin: 0;
      padding: 0;
      /* Header de cada uno de los sub menús */ }
      #aside ul.submenu header.submenu-header {
        margin-bottom: 0;
        /* Disminuimos tamaño de los títutlos de submenus */ }
        #aside ul.submenu header.submenu-header h2 {
          padding: 0.5em 0;
          font-size: 1.2em; }
        #aside ul.submenu header.submenu-header i {
          visibility: visible; }
      #aside ul.submenu header.submenu-header:hover {
        background-color: #30b3ad; }
      #aside ul.submenu > div {
        display: none;
        /* Quitamos el padding-left de los <li> */ }
        #aside ul.submenu > div li {
          padding: 0;
          /* Ocultamos las flechas */
          /* Centramos el texto */
          /* Resize de los cuadros de los filtros */ }
          #aside ul.submenu > div li i {
            display: none; }
          #aside ul.submenu > div li a {
            text-align: center;
            padding: 0.5em 0; }
          #aside ul.submenu > div li div.filter-wrapper {
            padding: 1em 0;
            /* Metemos los inputs en la misma linia */
            /* Segon checkbox */ }
            #aside ul.submenu > div li div.filter-wrapper header {
              /* Centramos el texto y quitamos alto */ }
              #aside ul.submenu > div li div.filter-wrapper header h3 {
                text-align: center;
                margin: 0; }
            #aside ul.submenu > div li div.filter-wrapper div.checkbox-option {
              display: inline-block;
              width: 49%;
              max-width: 49%;
              margin-top: 1em;
              text-align: right;
              padding-right: 1em; }
            #aside ul.submenu > div li div.filter-wrapper div.checkbox-option:last-child {
              text-align: left;
              padding-right: 0;
              padding-left: 1em; }

  /* Referente al datePicker */
  #datePicker-wrapper p {
    text-align: center;
    margin-top: 1em; }
  #datePicker-wrapper input {
    width: 50%;
    max-width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center; }

  /* Resize de la barra deslizadora de precios */
  #aside ul.submenu li .filter-wrapper .slider-container {
    width: 60% !important;
    max-width: 60% !important;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em; } }
@media (max-width: 600px) {
  #aside ul.submenu header.submenu-header h2 i {
    right: 20%; } }
@media (min-width: 993px) and (max-width: 1199px) {
  a.event-element article.event img {
    max-height: 130px !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  a.event-element article.event {
    height: 350px !important;
    max-height: 350px !important; }
    a.event-element article.event img {
      height: 220px !important;
      max-height: 220px !important; } }
@media (min-width: 470px) and (max-width: 767px) {
  a.event-element {
    width: 48%;
    margin: 0;
    max-width: 48%;
    display: inline-block; }
    a.event-element img {
      height: 180px !important;
      max-height: 180px !important; } }
@media (min-width: 471px) and (max-width: 767px) {
  a.event-element article.event {
    height: 335px !important;
    max-height: 335px !important; } }
@media (min-width: 470px) and (max-width: 599px) {
  a.event-element article.event {
    height: 300px !important;
    max-height: 300px !important; } }
@media (min-width: 410px) and (max-width: 469px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 385px !important;
    max-height: 385px !important; }
    div.event-row a.event-element article.event img {
      height: 200px !important;
      max-height: 200px !important; } }
@media (max-width: 409px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 350px !important;
    max-height: 350px !important; } }
@media (min-width: 992px) {
  a.event-element article.event {
    height: 300px !important;
    max-height: 300px !important; } }

/*# sourceMappingURL=category.css.map */
