#error-wrapper img {
  display: block;
  margin: 0 auto;
  margin-top: 5em; }
#error-wrapper #error-sentence {
  font-size: 4em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

@media (max-width: 550px) {
  #error-wrapper img {
    width: 50%; }
  #error-wrapper #error-sentence {
    font-size: 3em; } }

/*# sourceMappingURL=error.css.map */
