#login-wrapper {
  margin-top: 5em; }

form {
  margin: 0 auto;
  font-family: "Roboto", sans-serif; }
  form h2 {
    font-size: 3em;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #30b3ad;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em; }
  form div {
    display: inline-block;
    width: 49%;
    max-width: 49%; }
  form label, form input {
    width: 100%;
    max-width: 100%; }
  form label {
    font-weight: 300;
    margin-top: 3em;
    color: #555;
    text-align: left; }
  form input {
    border: 1px solid #dedede;
    border-bottom: 3px solid #30b3ad;
    padding: 0.5em; }
  form button[type=submit] {
    background: #30b3ad;
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin-top: 1em;
    border: none;
    text-align: center;
    width: 100%;
    max-width: 100%; }
  form button[type=submit]:hover {
    cursor: pointer;
    background: #219e98; }

/*# sourceMappingURL=form-insert.css.map */
