/* Daddy top navigator */
#daddynav {
  background-color: #30b3ad;
  color: white;
  max-width: 100%;
  width: 100%;
  margin-bottom: 0;
  border: none;
  z-index: 999; }

/* div grande que envuelve a los dos navegadores, responsive y fijo */
#daddynav > div.navbar-header {
  background: #30b3ad; }

/* Button de resposnive */
#daddynav.navbar-default .navbar-toggle {
  background-color: #30b3ad;
  border: 1px solid white; }

#daddynav.navbar-default .navbar-toggle:focus,
#daddynav.navbar-default .navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0.2); }

/* "button" de menu, son 3 spans */
#daddynav > div.navbar-header span.icon-bar {
  background-color: white; }

/* Menu que aparece en dispositvos gradndes */
#navbarCollapse {
  background-color: #30b3ad !important; }

/* Color de letra de los links y iconos */
#navbarCollapse a,
#navbarCollapse i {
  color: white; }

#navbarCollapse a {
  font-weight: 500; }

/* Efecto hover de los links y iconos */
#navbarCollapse a:hover + i {
  opacity: 1;
  cursor: pointer; }

#content-wrapper {
  margin-top: 5em; }
  #content-wrapper .container {
    max-width: 100%; }

div.event-row {
  margin-bottom: 2em; }
  div.event-row header {
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em; }
    div.event-row header h1 {
      font-size: 1.5em;
      margin: 0;
      font-weight: bold;
      border-bottom: 1px solid #dedede; }
  div.event-row a.event-element {
    padding: 0.5em;
    position: relative;
    text-decoration: none; }
    div.event-row a.event-element article.event {
      overflow: hidden;
      border: 1px solid #dedede;
      padding: 0.5em; }
      div.event-row a.event-element article.event h2 {
        color: #313131;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold; }
      div.event-row a.event-element article.event p {
        color: #333;
        text-align: left; }
      div.event-row a.event-element article.event div.event-image-wrapper {
        position: relative;
        overflow: hidden;
        background: black;
        transition: all 0.5s ease;
        border: 1px solid black; }
        div.event-row a.event-element article.event div.event-image-wrapper img {
          position: relative;
          max-width: 100%;
          width: 100%;
          height: 165px;
          max-height: 165px;
          transition: all 0.5s ease; }
        div.event-row a.event-element article.event div.event-image-wrapper span.price {
          position: absolute;
          top: 10px;
          right: -55px;
          font-weight: bold;
          font-size: 1.5em;
          color: white;
          padding: 0.5em 3em 0.25em 3em;
          background: #30b3ad;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          text-transform: uppercase; }
      div.event-row a.event-element article.event div.category-wrapper {
        margin-top: 1em; }
        div.event-row a.event-element article.event div.category-wrapper p {
          font-weight: bold;
          font-size: 0.8em;
          margin: 0; }
      div.event-row a.event-element article.event div.tags-wrapper {
        overflow-y: auto;
        height: 48px; }
        div.event-row a.event-element article.event div.tags-wrapper span {
          background: #30b3ad;
          color: white;
          font-weight: bold;
          font-size: 0.8em;
          padding: 0.25em 0.5em;
          display: inline-block;
          margin-top: 0.25em; }
    div.event-row a.event-element article.event:hover,
    div.event-row a.event-element article.event:focus {
      -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      border: 1px solid #30b3ad; }

@media (min-width: 993px) and (max-width: 1199px) {
  a.event-element article.event img {
    max-height: 130px !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  a.event-element article.event {
    height: 350px !important;
    max-height: 350px !important; }
    a.event-element article.event img {
      height: 220px !important;
      max-height: 220px !important; } }
@media (min-width: 470px) and (max-width: 767px) {
  a.event-element {
    width: 48%;
    margin: 0;
    max-width: 48%;
    display: inline-block; }
    a.event-element img {
      height: 180px !important;
      max-height: 180px !important; } }
@media (min-width: 471px) and (max-width: 767px) {
  a.event-element article.event {
    height: 335px !important;
    max-height: 335px !important; } }
@media (min-width: 470px) and (max-width: 599px) {
  a.event-element article.event {
    height: 300px !important;
    max-height: 300px !important; } }
@media (min-width: 410px) and (max-width: 469px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 385px !important;
    max-height: 385px !important; }
    div.event-row a.event-element article.event img {
      height: 200px !important;
      max-height: 200px !important; } }
@media (max-width: 409px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 350px !important;
    max-height: 350px !important; } }
@media (min-width: 992px) {
  a.event-element article.event {
    height: 315px !important;
    max-height: 315px !important; } }
#content-wrapper {
  margin-top: 7em; }

a.event-element > article.event {
  height: 315px;
  max-height: 315px; }

/*# sourceMappingURL=index.css.map */
