@charset "UTF-8";
#comments-wrapper {
  border-top: 1px solid #dedede; }
  #comments-wrapper h2 {
    font-weight: bold; }

#comment-textarea, #comment-title {
  display: block;
  padding: 0.5em;
  border: 1px solid #dedede;
  border-radius: 2px;
  width: 100%;
  max-width: 100%; }

#comment-title {
  margin-bottom: 0.5em; }

#comment-textarea {
  height: 100px; }

#post {
  background: #30b3ad;
  border: none;
  margin-top: 0.2em;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.4em;
  text-align: center;
  width: 160px;
  text-transform: capitalize; }

ul#all-comments {
  padding-left: 0; }
  ul#all-comments li.user-comment {
    list-style: none;
    margin-bottom: 1em;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1em;
    position: relative;
    padding-bottom: 1em; }
  ul#all-comments h3.comment-title, ul#all-comments p.comment-body {
    font-size: 13px;
    line-height: 1.5em;
    margin-bottom: 0; }
  ul#all-comments h3.comment-title {
    font-weight: 700;
    color: black; }
    ul#all-comments h3.comment-title i {
      color: goldenrod; }
  ul#all-comments p.comment-body {
    font-style: italic;
    text-align: justify; }
  ul#all-comments span.comment-author {
    font-size: 0.8em;
    color: #555; }

div.starRating {
  margin-top: 0.5em; }
  div.starRating .form-control {
    border: 1px solid #dedede !important; }
  div.starRating .form-control:hover {
    cursor: pointer; }

div.star-div {
  display: inline-block;
  margin-right: 1em; }
  div.star-div input[type="radio"]:hover {
    cursor: pointer; }
  div.star-div i.fa-star {
    color: goldenrod;
    font-size: 0.8em; }
  div.star-div i.fa-star-o {
    color: #ccc;
    font-size: 0.8em; }

div.modal-header {
  border-bottom: 2px solid #006666 !important;
  background: #30b3ad;
  color: white; }
  div.modal-header h4 {
    font-size: 1.5em;
    font-weight: bold; }
  div.modal-header button.close {
    margin-top: 3px; }

div.modal-content {
  border: none !important; }
  div.modal-content form {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0; }
    div.modal-content form header {
      margin-bottom: 1em; }
      div.modal-content form header h4 {
        font-size: 1.7em; }
        div.modal-content form header h4 span {
          margin-left: 1em;
          color: #30b3ad; }
    div.modal-content form label {
      font-weight: 400 !important;
      display: block; }
    div.modal-content form input, div.modal-content form textarea {
      border: 1px solid #dedede !important;
      display: block;
      border-radius: 2px;
      padding: 0.5em;
      width: 100%; }
    div.modal-content form textarea {
      height: 75px;
      max-height: 75px; }
    div.modal-content form input:focus, div.modal-content form input:active, div.modal-content form textarea:active, div.modal-content form textarea:focus {
      outline-color: #30b3ad; }
  div.modal-content div.modal-body {
    overflow: hidden; }
    div.modal-content div.modal-body button {
      background: #30b3ad;
      color: white;
      letter-spacing: 1px;
      border: none;
      border-bottom: 3px solid #006666 !important;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      padding: 0.751em 2.5em; }

@media (min-width: 768px) and (max-width: 991px) {
  #product #images-wrapper #image-active img {
    max-height: 210px !important; }
  #product #images-wrapper #image-list ul li img {
    max-height: 30px !important; }

  #product #right-wrapper {
    padding: 0 15px; } }
@media (min-width: 500px) and (max-width: 767px) {
  #images-wrapper-responsive img {
    height: 350px;
    max-height: 350px; }

  #image-list-responsive ul li img {
    max-height: 100px; } }
@media (max-width: 499px) {
  #images-wrapper-responsive img {
    height: 200px;
    max-height: 200px; }

  #image-list-responsive ul li img {
    height: 60px;
    max-height: 60px; } }
@media (max-width: 767px) {
  #right-wrapper {
    padding: 0 !important; }

  #images-wrapper-responsive {
    display: block !important; }
    #images-wrapper-responsive img {
      width: 100%;
      max-width: 100%; }

  #image-list-responsive {
    margin-top: 0.5em; }
    #image-list-responsive ul {
      padding: 0; }
      #image-list-responsive ul li {
        position: relative;
        display: inline-block;
        list-style: none;
        width: 32%;
        max-width: 32%;
        padding: 0.5em; }
        #image-list-responsive ul li img {
          max-width: 100%;
          width: 100%; }
        #image-list-responsive ul li img:hover {
          cursor: pointer; }

  #tags-wrapper-responsive h2 {
    font-weight: bold;
    font-size: 1em;
    margin-top: 2em;
    color: #282828; }
  #tags-wrapper-responsive span.tag {
    background: #30b3ad;
    padding: 0.3em;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    display: inline-block;
    margin: 0.2em 0.1em; }
  #tags-wrapper-responsive span.tag:hover {
    background: #219e98;
    cursor: pointer; }

  #tags-wrapper-responsive {
    display: block !important; }

  #product #images-wrapper {
    display: none; }
  #product #tags-wrapper {
    display: none; }
  #product #description-info #dates-wrapper div.date-wrapper {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1em; }
    #product #description-info #dates-wrapper div.date-wrapper i {
      font-size: 2em;
      top: -5px; }
    #product #description-info #dates-wrapper div.date-wrapper p {
      padding-left: 2.5em;
      display: inline-block; }
    #product #description-info #dates-wrapper div.date-wrapper p:last-child {
      padding: 0 !important; }

  #footer {
    margin-top: 10em; } }
/* Cambio tamaño @events */
@media (min-width: 768px) and (max-width: 992px) {
  a.event-element article.event {
    height: 350px !important;
    max-height: 350px !important; } }
@media (min-width: 470px) and (max-width: 767px) {
  a.event-element {
    width: 48%;
    margin: 0;
    max-width: 48%;
    display: inline-block; }
    a.event-element article.event {
      height: 350px !important;
      max-height: 350px !important; } }
@media (min-width: 410px) and (max-width: 469px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 310px !important;
    max-height: 310px !important; } }
@media (max-width: 410px) {
  div.event-row header {
    padding-left: 0; }
    div.event-row header h1 {
      text-align: center; }
  div.event-row a.event-element article.event {
    width: 100%;
    height: 280px !important;
    max-height: 280px !important; } }
#images-wrapper-responsive {
  display: none; }

#tags-wrapper-responsive {
  display: none; }

#product {
  margin-top: 3em; }
  #product #images-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%; }
    #product #images-wrapper #image-active {
      position: relative;
      overflow: hidden;
      padding: 0.5em; }
      #product #images-wrapper #image-active img {
        position: relative;
        width: 100%;
        max-width: 100%;
        max-height: 350px; }
      #product #images-wrapper #image-active img:hover {
        cursor: pointer; }
    #product #images-wrapper #image-list {
      margin-top: 0.5em; }
      #product #images-wrapper #image-list ul {
        padding: 0; }
        #product #images-wrapper #image-list ul li {
          position: relative;
          display: inline-block;
          list-style: none;
          width: 19%;
          max-width: 19%;
          padding: 0.5em; }
          #product #images-wrapper #image-list ul li img {
            max-width: 100%;
            width: 100%;
            max-height: 60px; }
          #product #images-wrapper #image-list ul li img:hover {
            cursor: pointer; }
  #product #tags-wrapper {
    margin-top: 4em;
    margin-bottom: 2em; }
    #product #tags-wrapper h2 {
      font-weight: bold;
      color: #282828;
      text-transform: capitalize; }
    #product #tags-wrapper span.tag {
      background: #30b3ad;
      padding: 0.4em 0.5em;
      color: white;
      font-weight: bold;
      font-size: 1em;
      display: inline-block;
      margin: 0.1em; }
    #product #tags-wrapper span.tag:hover {
      background: #219e98;
      cursor: pointer; }
  #product #product-title {
    margin: 0;
    font-weight: bold;
    color: #282828; }
  #product #description-info {
    margin-top: 2em; }
    #product #description-info p {
      line-height: 1.5em;
      color: #282828;
      text-align: justify; }
    #product #description-info h2.section-title {
      font-weight: bold;
      font-size: 1em;
      margin-top: 2em;
      color: #282828;
      text-transform: capitalize; }
  #product #dates-wrapper {
    margin-top: 2em; }
    #product #dates-wrapper div.date-wrapper {
      display: inline-block;
      width: 48%;
      max-width: 48%;
      position: relative; }
      #product #dates-wrapper div.date-wrapper i {
        font-size: 3em;
        position: absolute;
        top: 0;
        left: 0; }
      #product #dates-wrapper div.date-wrapper p {
        padding-left: 4em;
        margin-bottom: 0 !important; }
  #product #website-link {
    color: #30b3ad; }
  #product #map-wrapper {
    position: relative; }
    #product #map-wrapper iframe {
      position: relative;
      width: 100%;
      max-width: 100%; }
  #product .google-maps-link a {
    color: #30b3ad !important; }
  #product #action-buttons-wrapper {
    margin-top: 5em; }
  #product #action-buttons-wrapper h1 {
    color: #30b3ad;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase; }
  #product #action-buttons button {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.5em 1em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    border: none;
    width: 100%;
    max-width: 100%;
    background: #30b3ad;
    display: block;
    text-transform: capitalize; }
  #product #action-buttons button:hover {
    background: #219e98;
    cursor: pointer; }

/*# sourceMappingURL=product.css.map */
