$mainFontFamily: "Roboto", sans-serif


#error-wrapper

  img
    display: block
    margin: 0 auto
    margin-top: 5em

  #error-sentence
    font-size: 4em
    text-align: center
    font-family: $mainFontFamily
    font-weight: bold


@media (max-width: 550px)

  #error-wrapper

    img
      width: 50%
    #error-sentence
      font-size: 3em