@import "_modules/profile-tags-usuario"
@import "_modules/profile-accordion"
@import "_modules/modals"


// VARIABLES
$RGBmainColor: rgb(48, 179, 173)
$RGBmainColorHover: rgb(33,158,152)
$mainFontFamily: "Roboto", sans-serif
$darkGrey: #333333

// Todo el texto de esta vista
*,p,h1,h2,h3,h4,h5,h6,span,li
  font-family: $mainFontFamily



// Nos distanciamos de las migas de pan
#main
  margin-top: 3em


#personalInformation, #profiles
  h2
    font-family: $mainFontFamily
    font-size: 2em
    font-weight: 500


// Estructura de titulo de seccion + valor
div.info-wrapper
  margin-bottom: 0.5em
  h3, p
    margin: 0
    color: $darkGrey
    font-size: 1.2em
  h3
    font-weight: 500

    // Icono lapiz para editar data
    i.edit-data
      margin-left: 0.5em
      font-size: 0.7em
    i.edit-data:hover
      cursor: pointer
  p
    font-weight: 200


// Profiles
#profiles, #allTagsAvailable
  p
    font-weight: 100
    font-size: 1.2em
    text-align: justify
  .panel-body
    font-weight: 100
    font-size: 1em
    text-align: justify



// Cabecera de los modals de cambiar
div.modal-header
  border-bottom: 2px solid $RGBmainColorHover !important
  background: $RGBmainColor
  color: white
  h4
    font-size: 1.5em
  button.close
    margin-top: 3px

// Botón de dentro del modal
div.modal-content
  border: none !important
  form
    overflow: hidden

    label
      font-weight: 400
    input
      border-color: #dedede !important
    input:focus, input:active
      outline-color: $RGBmainColor

  div.modal-body, div.modal-body
    button
      background: $RGBmainColor
      color: white
      letter-spacing: 1px
      border: none
      border-bottom: 2px solid $RGBmainColorHover
      font-weight: 100