{% extends "AppBundle::layout.html.twig" %}

{# Macro ussado para printear contenido de la pagina product #}
{% import "AppBundle:macros:product.html.twig" as productMacros %}
{# Macro ussado para printear contenido de {{ tags }} #}
{% import "AppBundle:macros:tags.html.twig" as tagsMacros %}




{# BROWSER TITLE #}
{% block browserTitle %}{{ app.user.username }}, {{ 'str_tituloPaginaPerfil' | trans }}{% endblock %}


{# OWN JS  #}
{%  block ownjs %}
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/_modules/breadcrumbs.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.structure.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
{% endblock %}


{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}


{# Dynamic content #}
{% block content %}
    {# Migas de pan / breadcrumbs #}
    <aside class="container" id="breadcrumb-wrapper">
        <div class="row">

            {# Creamos el contenido del pan de migas via macro. /macros/breadcrumb #}
            <ol class="breadcrumb">

                <li><a href="/">{{ 'str_home' | trans }}</a></li>

                <li class="active">{{ 'str_perfil' | trans }}</li>

            </ol>
        </div>
    </aside>

    <main id="main" class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6">

                {# Informacion de usuario #}
                <section id="personalInformation">
                    <h2>{{ 'str_informacionPersonal' | trans }}</h2>

                    <div class="info-wrapper">
                        <h3>{{ 'str_nombre' | trans }}</h3>
                        <p>{{ user.name }} {{ user.surname }}</p>
                    </div>

                    <div class="info-wrapper">
                        <h3>{{ 'str_nombreUsuario' | trans }}</h3>
                        <p>{{ user.userName }}</p>
                    </div>

                    <div class="info-wrapper">
                        <h3>{{ 'str_correoElectronico' | trans }}</h3>
                        <p>{{ user.email }}</p>
                    </div>

                    <div class="info-wrapper">
                        <h3>{{ 'str_password' | trans }}<i data-toggle="modal" data-target="#changePassword" class="edit-data fa fa-pencil" aria-hidden="true"></i></h3>
                        <p>**********</p>
                    </div>

                    <div class="info-wrapper">
                        <h3>{{ 'srt_nombreBarco' | trans }}</h3>
                        <p>{{ user.shipName }}</p>
                    </div>

                    <div class="info-wrapper">
                        <h3>{{ 'str_rangoBarco' | trans }}</h3>
                        <p>{{ user.shipRank }}</p>
                    </div>

                    <div class="info-wrapper">
                        <h3>{{ 'str_tagsActuales' | trans }}<i class="edit-data fa fa-pencil" aria-hidden="true"></i></h3>
                        <div id="myTags">
                            <ul class="tags">
                                {% for tag in user.tags %}
                                    <li class="tag" id="mytag_{{ tag.id }}" onclick="deleteTag({{ tag.id }})">
                                        {{ tag.name }}
                                        <span class="close-tag">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>

            </div>

            <div class="col-xs-12 col-sm-6">

                {# charts #}
                <section id="profiles">
                    <div class="row">
                        <h2>{{ 'str_perfiles' | trans }}</h2>
                        <p>{{ 'str_perfilesDescripcion' | trans }}</p>

                        <div id="accordion" class="panel panel-default">
                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Gastronomy</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Sportive</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Clasic</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Gastronomy</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Gastronomy</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Gastronomy</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Gastronomy</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <header class="panel-heading panel-success">
                                <h3 class="panel-title">Gastronomy</h3>
                            </header>
                            <div class="profile">
                                <div class="panel-body">
                                    Perfect for the people who really likes enjoy a tasty and yummy food.
                                </div>
                                <div class="panel-footer">
                                    <ul class="tags">
                                        <li class="tag">
                                            gastronomy
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            japanese
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            sashimi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            shushi
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            rice
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            oriental
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            football
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            barcelona
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                        <li class="tag">
                                            soccer
                                    <span class="close-tag">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </main>

    {# Todos los tags. Personalización custom #}
    <aside id="custom" class="container">
        <div class="row">

            {# Todos los tags #}
            <section id="allTagsAvailable">
                <h2>{{ 'str_todosLosTags' | trans }}</h2>

                <p>{{ 'str_todosLosTagsDescripcion' | trans }}</p>

                <ul class="tags">
                    {% for tag in allTags %}
                        <li class="tag" id="tag_{{ tag.id }}" onclick="addTag({{ tag.id }})">
                            {{ tag.name }}
                            <span class="close-tag" >
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </aside>

    <!-- Modal -->
    <div class="modal fade" id="changePassword" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ 'str_changePassword' | trans }}</h4>
                </div>

                <div class="modal-body">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                        <div class="form-group">
                            {{ form_row(form.oldPassword) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.newPassword.first) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.newPassword.second) }}
                        </div>
                    {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-default pull-right">{{ 'str_cambiar' | trans }}</button>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}


{% block footer %}{{ include('AppBundle::modules/footer.html.twig') }}{% endblock %}

{% block endBodyJavascript %}
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script>
        $(function(){
            $("#accordion").accordion({
                header: '.panel-heading',
                icons: { 'header': 'defaultIcon', 'headerSelected': 'selectedIcon' },
                heightStyle: "content"
            });
            $("#accordion").find('header').addClass("header-accordion");
        });
    </script>
{% endblock %}

{% block more_scripts %}
    <script type="text/javascript">
        function addTag(id){
            $.ajax({
                url: '/profile/add/tag/'+id,
                type: 'get'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload()
                }
            });
        }

        function deleteTag(id){
            $.ajax({
                url: '/profile/delete/tag/'+id,
                type: 'get'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload()
                }
            });
        }
    </script>
{% endblock %}
