{% extends "AppBundle::layout.html.twig" %}

{# BROWSER TITLE #}
{% block browserTitle %}Test{% endblock %}

{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('css/form-insert.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
{% endblock %}

{# Top navigator #}
{% block navigatorTop %} {{ include('AppBundle::modules/navigator-top.html.twig') }} {% endblock %}

{# Content #}
{% block content %}
    <div class="row">
        <div class="container-fluid">
            <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">
                {{ form_start(formEvent) }}
                    <h2>New event</h2>

                    {{ form_errors(formEvent) }}
                    {{ form_row(formEvent.title) }}
                    {{ form_row(formEvent.description) }}

                    {{ form_row(formEvent.location) }}
                    {{ form_row(formEvent.isLocationVisible) }}

                    {{ form_row(formEvent.website) }}
                    {{ form_row(formEvent.isWebsiteVisible) }}

                    {{ form_row(formEvent.price) }}

                    {{ form_row(formEvent.date) }}
                    {{ form_row(formEvent.isDateVisible) }}

                    {{ form_row(formEvent.validDate) }}
                    {{ form_row(formEvent.isValidDateVisible) }}

                    {{ form_row(formEvent.isPublic) }}

                    {{ form_row(formEvent.isOutstanding) }}

                    {{ form_row(formEvent.category) }}

                    {{ form_row(formEvent.uploadedFiles) }}
                    {{ form_row(formEvent._token) }}

                    <button type="submit">Add event!</button>
                {{ form_end(formEvent) }}
            </section>
        </div>
    </div>
{% endblock %}