@import "_modules/feed-events"
@import "_modules/feed-comments"




$textColor: #2c3136
$corporativeColor: #30b3ad
$flatRed: #dd4b39
$flatYellow: #f39c12
$gold : rgb(218,165,32)




#main
  > .container-fluid
    width: 95%
    > section
      margin-left: 0
      margin-right: 0


#main-charts
  margin-top: 2em
  // Hacemos que no haya overflow
  >div
    margin: 0

// Top char card counts
article.main-charts-element
  text-align: left
  padding: 0px
  margin-top: 1.5em
  > div
    padding-left: 4em
  span.count_top, div.count
    color: $textColor

  // Title
  span.count_top
    font-size: 1.5em
  // Count or number of
  div.count
    font-size: 1.2em

  i
    display: block
    font-size: 3em
    position: absolute
    top: 5px
    left: 10px




// Contenedor de los top10 categories, eventos y usuarios
#top10
  margin: 2em 0 0 0





// Diferent boxes colors
.box-color-main
  border-top: 3px solid $corporativeColor !important
  .box-header
    background-color: lighten($corporativeColor, 45%)
    h3
      color: $corporativeColor
  span.label
    background: $corporativeColor

.box-color-red
  border-top: 3px solid $flatRed !important
  .box-header
    background-color: lighten($flatRed, 35%)
    h3
      color: $flatRed
  span.label
    background: $flatRed

.box-color-yellow
  border-top: 3px solid $flatYellow !important
  .box-header
    background-color: lighten($flatYellow, 35%)
    h3
      color: $flatYellow
  span.label
    background: $flatYellow

.box-color-grey
  border-top: 3px solid grey !important
  .box-header
    background-color: lighten(grey, 35%)
    h3
      color: grey
  span.label
    background: grey

// Header de .box
.box-header
  color: #444
  display: block
  padding: 10px 10px 10px 30px
  position: relative
  h3
    font-weight: 500
// BOXES
.box
  position: relative
  border-radius: 3px
  background: #ffffff
  border-top: 3px solid #d2d6de
  margin-bottom: 20px
  width: 100%
  box-shadow: 0 1px 1px rgba(0,0,0,0.1)
  i.fa-star
    color: $gold
    font-size: 0.8em

// Titulo de .box
.box-title
  display: inline-block
  font-size: 18px
  margin: 0
  line-height: 1
.box-body
  border-top-left-radius: 0
  border-top-right-radius: 0
  border-bottom-right-radius: 3px
  border-bottom-left-radius: 3px
.table
  width: 100%
  max-width: 100%
  margin-bottom: 0
  border: none
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif
  td, th, td
    border: none !important
span.label
  padding: 0.2em 0.6em
  font-size: 1em
  border-radius: 20px


@media (max-width: 992px)
  #main
    margin-top: 5em
