@import "_modules/button-submit"


// Toda la pagina dinamica del formulario Event
#admin-pagecontent
  overflow: hidden
  form
    width: 100%
    margin: 0 auto
    padding: 0 0 3em 0
    margin-top: 2em

    div.form-group
      display: inline-block
      width: 49%
      max-width: 49%
      label
        display: block
        max-width: 100%
        margin-bottom: 5px
        font-weight: 400

      input, select
        display: block
        width: 100%
        height: 34px
        padding: 6px 12px
        font-size: 14px
        line-height: 1.42857143
        color: #555
        background-color: #fff
        background-image: none
        border: 1px solid #ccc
        border-radius: 4px
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s

    div#allRow.form-group
      width: 100% !important
      max-width: 100% !important
      select
        display: block
        width: 100%
        height: 34px
        padding: 6px 12px
        font-size: 14px
        line-height: 1.42857143
        color: #555
        background-color: #fff
        background-image: none
        border: 1px solid #ccc
        border-radius: 4px
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        label
          display: inline-block

    div.form-onlyCheckbox-wrapper
      label
        display: inline-block
        font-weight: 400
        margin-right: 1em
      input
        display: inline-block

    div.form-div-normal
      display: block
      width: 100%
      max-width: 100%
      div
        width: 49%
        max-width: 49%
        display: inline-block

        // estilo de la cabecera de los inputs
        label
          display: block
          max-width: 100%
          margin-bottom: 5px
          font-weight: 400

        // Estilos generales para los input
        input, select
          display: block
          width: 100%
          height: 34px
          padding: 3px 6px
          font-size: 14px
          line-height: 1.42857143
          color: #555
          background-color: #fff
          background-image: none
          border: 1px solid #ccc
          border-radius: 4px
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
          -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s
          -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s

      // Divs con 2 checkbox interior, las cajas en el interior texto exterior (efecto espejo)
      div.form-div-checkbox
        > div
          width: 100%
          max-width: 100%
          position: relative
          text-align: right
        input
          width: 15px
          height: 15px
          position: absolute
          top: 0
          right: 50px
        label
          font-weight: 400
          display: inline-block
          margin-bottom: 5px
          padding-right: 100px

      div.form-div-checkbox-left
        > div
          width: 100%
          max-width: 100%
          position: relative
          text-align: left
        input
          width: 15px
          height: 15px
          position: absolute
          top: 0
          left: 50px
        label
          font-weight: 400
          display: inline-block
          margin-bottom: 5px
          padding-left: 100px

