@import '_mediaqueries/tablesList'
@import '_modules/error-message'

#main
  position: relative

// TABLES
#admin-pagecontent
  table
    tr.isactive
      background-color: #e6ffe6 !important
    tr.isnotactive
      background-color: #ffe6e6 !important
    tr:hover
      background-color: #e6e6e6
      cursor: pointer
    td
      text-align: left !important
      max-width: 300px
      p
        display: inline-block
        margin: 0

      i.delete-user,
      i.denny-user,
      i.modify-user,
      i.validate-user,
      i.modify-password,
      i.modify-isnotpublic,
      i.modify-isnotvisible,
      i.modify-ispublic,
      i.modify-isvisible
        transform: all 1s ease

      i.delete-user,
      i.denny-user
        color: #C0392B

      i.modify-user,
      i.validate-user
        color: #1E824C

      i.modify-password,
      i.modify-isnotpublic,
      i.modify-isvisible
        color: #3e3f3a

      i.modify-ispublic,
      i.modify-isnotvisible
        color: lighten(#3e3f3a, 15%)

      i.delete-user:hover,
      i.denny-user:hover,
      i.modify-user:hover,
      i.validate-user:hover,
      i.modify-isnotpublic:hover,
      i.modify-isnotvisible:hover,
      i.modify-ispublic:hover,
      i.modify-isvisible:hover
        transform: scale(1.2)


    th
      text-align: left !important
      max-width: 300px
      i
        transform: rotate(90deg)
        -webkit-transition: 1s all ease
        time-moz-transition: 1s all ease
        time-ms-transition: 1s all ease
        time-o-transition: 1s all ease
        timetransition: 1s all ease time
        font-size: 0.8em
    th:hover
      cursor: pointer


/* titulo seccion y breadcrumb */
section.content-header > h1,
section.content-header ol
  width: 49% !important
  max-width: 49% !important
  display: inline-block !important
  background-color: transparent

/* breadcrumb */
section.content-header ol
  border: none !important
  text-align: right

section.content-header ol li.past a
  color: #30b3ad

.tool-tip
  display: none
  position: absolute
  top: -20px
  background: #111
  color: white
  padding: 0.2em 0.5em
  border-radius: 2px
  left: -40px

@media (max-width: 768px)
  section.content-header
    padding: 2em 1em 1em 1em

  section.content-header > h1,
  section.content-header ol
    width: 100% !important
    max-width: 100% !important
    display: block !important
    margin: 0
    padding: 0

  section.content-header > h1
    font-size: 2.5em
  section.content-header > ol
    text-align: left
