<!-- Footer -->
<footer id="footer">
    <nav id="social-media">
        <div class="text-center center-block">
            <a href="https://www.facebook.com/evolutionagents" class="social-link">
                <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
            </a>

            <a href="https://www.linkedin.com/company/evolution-agents" class="social-link">
                <i id="social-linkedin" class="fa fa-linkedin-square fa-3x social" aria-hidden="true"></i>

            </a>

            <a href="https://plus.google.com/+EvolutionYachtAgentsPalma/posts" class="social-link">
                <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
            </a>

            <p class="txt-railway">- Evolution -</p>
            <p id="copyright">&copy;{{ 'str_copyright' | trans }}</p>
        </div>
    </nav>
</footer>