<!-- header -->
<header id="header">

    <!-- Contenedor del logo -->
    <div id="logo-wrapper">
        <a href="/">
            <img src="http://www.evolutionagents.com/images/logo_agents.png" alt="Logo de la empresa Evolution">
        </a>
    </div>

    <!-- Barra de búsqueda -->
    <nav id="searcher-wrapper">
        <form id="form-searcher">
            <div id="searcher-wrapper" class="input-append span12">
                <input type="text" id="searcher" class="search-query mac-style" placeholder="{{ 'str_buscar' | trans }}" autofocus>
                <i class="fa fa-search" id="searcherButton" onclick="search()"></i>
            </div>
        </form>
    </nav>
</header>

{% block more_scripts %}
    <script type="text/javascript">
        $("#searcher").keyup(function(event){
            if(event.keyCode == 13){
                $("#searcherButton").click();
            }
        });
        function search(){
            datos = $('#searcher').val();
            if(datos){
                window.location.replace('/search/'+datos);
            }

        }
    </script>
{% endblock %}