<aside id="petition-window">
    <div>
        <h5>{{ 'str_botonPeticionSlogan' | trans }}
            <a href="/send/petition"><button>
                    {{ 'str_BotonPeticionTexto' | trans }}
                    <i class="edit-data fa fa-paper-plane" aria-hidden="true"></i>
            </button></a>
        </h5>
    </div>
</aside>