{% extends "AppBundle::admin-layout.html.twig" %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/form-common.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_tagFormTitle' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_createTag' | trans }}</li>
                        </ol>
                    </section>

                    <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

                        {{ form_start(formTag) }}
                            {{ form_errors(formTag) }}
                            <div class="form-group">{{ form_row(formTag.name) }}</div>
                            <div class="form-group">{{ form_row(formTag.description) }}</div>
                            {{ form_row(formTag._token) }}
                            <button type="submit">{{ 'str_addTag' | trans }}</button>
                        {{ form_end(formTag) }}

                    </section>

                </div>

            </div>
        </div>
    </div>
{% endblock %}