{% extends "AppBundle::admin-layout.html.twig" %}


{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:searcher.html.twig" as searcherMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/searcher.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300' rel='stylesheet' type='text/css'>
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_allTagsCreated' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_listAllTags' | trans }}</li>
                        </ol>
                    </section>


                    {# Creamos el buscador con el parametro como placeholder #}
                    {{ searcherMacros.printSearcher() }}

                    {# MENSAJE ERROR: Aparece cuando no se ha podido  borrar #}
                    <aside id="error-message">
                        <p>{{ 'str_deleteError' | trans }}</p>
                        <i id="close-error-message" class="fa fa-times" aria-hidden="true"></i>
                    </aside>


                    <!-- LIST -->
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {{ 'str_name' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>
                                <th>{{ 'str_description' | trans }}</th>
                                <th>{{ 'str_actions' | trans }}</th>
                            </tr>

                            {# Si hay admins#}
                            {% if tags %}
                                {% for tag in tags %}
                                    <tr>
                                        <td>{{ tag.name }}</td>
                                        <td>{{ tag.description }}</td>
                                        <td>
                                            <a href="/admin/edit/tag/{{ tag.id }}">
                                                <i data-toggle="modal" data-target="#updateTagModal" class="fa fa-pencil-square-o modify-user" aria-hidden="true"></i>
                                            </a>
                                            <i onclick="deleteTag({{ tag.id }})" class="fa fa-times delete-user" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {# si NO hay admins, mostramos mensaje#}
                            {% else %}
                                <tr>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                </tr>
                            {% endif %}

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block someAjaxActions %}

    <script>
        function deleteTag(id)
        {
            // Si el usuario confirma
            if (confirm('Ha seleccionado la opción: Borrar un tag. Si acepta se procederá con la acción de borrado.')) {
                var datos = {};
                datos.id = id;

                $.ajax({
                    url: ' {{ path('delete_tag') }} ',
                    data: datos,
                    type: 'post'
                }).success(function (data) {
                    if(data.type == 'OK'){
                        window.location.reload();
                    }
                });
            }
        }

        // Cerramos el mensaje de error
        $('#close-error-message').click(function(){
            $('#error-message').slideUp();
        });
    </script>
{% endblock %}
