// VARIABLES
$RGBmainColor: rgb(48, 179, 173)
$RGBAmainColor: rgba(48, 179, 173,1)
$textblack : #ccc
$gold : rgb(218,165,32)
$borderGrey: #dedede

$fontFamilyMain: "Roboto", sans-serif


// seccion COMMENTS
#comments-wrapper
  border-top: 1px solid $borderGrey
  h2
    font-weight: bold

// Formulario de comments

// Titulo y comentario
#comment-textarea, #comment-title
  display: block
  padding: 0.5em
  border: 1px solid #dedede
  border-radius: 2px
  width: 100%
  max-width: 100%
#comment-title
  margin-bottom: 0.5em
#comment-textarea
  height: 100px

// Submit, para comentar
#post
  background: $RGBmainColor
  border: none
  margin-top: 0.2em
  color: white
  font-size: 1.25em
  font-weight: bold
  padding: 0.4em
  text-align: center
  width: 160px
  text-transform: capitalize


// Contenedor de todos los comentarios <li>
ul#all-comments
  padding-left: 0

  // Contenedor de cada uno de los comentarios
  li.user-comment
    list-style: none
    margin-bottom: 1em
    font-family: $fontFamilyMain
    margin-bottom: 1em
    position: relative
    padding-bottom: 1em

  // Estilo del titulo y texto del comentario
  h3.comment-title, p.comment-body
    font-size: 13px
    line-height: 1.5em
    margin-bottom: 0

  // Titulo de cada uno de los comentarios 'resumen'
  h3.comment-title
    font-weight: 700
    color: black
    i
      color: $gold
  
  // Hacemos que sedestaque el cuerpo
  p.comment-body
    font-style: italic
    text-align: justify

  // Comentario de quien ha hecho ese comentario
  span.comment-author
    font-size: .8em
    color: #555


// Valoracion
div.starRating
  margin-top: 0.5em
  .form-control
    border: 1px solid $borderGrey !important
  .form-control:hover
    cursor: pointer

div.star-div
  display: inline-block
  margin-right: 1em
  input[type="radio"]:hover
    cursor: pointer
    
  i.fa-star
    color: $gold
    font-size: 0.8em
  i.fa-star-o
    color: #ccc
    font-size: 0.8em

