// Border exterior del datePicker
.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  border: 2px solid rgb(33, 158, 152) !important
  z-index: 999 !important

  // Dias de la semana
  tr
    color: #219e98 !important
  // Borde de los dias del mes
  tbody a
    border: 1px solid rgba(48,179,173,0.3) !important

// Estilo de la cabecera
.ui-datepicker-header
  background: #30b3ad !important
  color: white !important
  border-bottom: 2px solid #219e98 !important