// MIXINS
@mixin entire-border($color)  // @mixin para crear border en un elemento
  border: 1px solid $color

@mixin bottom-border($color)  // @mixin para crear border-bottom en un elemento
  border-bottom: 1px solid $color


// VARIABLES
$RGBmainColor: rgb(48, 179, 173)
$RGBAmainColor: rgba(48, 179, 173,1)
$textblack : #ccc

// ajuste vertical
#content-wrapper
  margin-top: 5em
  // Con este max-width ajustamos la estructura entera en todas las vistas
  .container
    max-width: 100%

// ROW PARA EVENTOS: HEADER + 4 EVENTOS
div.event-row
  margin-bottom: 2em
  // Header de la row
  header
    font-size: 1.5em
    padding-left: 0.5em
    padding-bottom: 0.5em

    // Titulo de la cabecera de la row
    h1
      font-size: 1.5em
      margin: 0
      font-weight: bold
      @include bottom-border(#dedede)


  // Cada uno de los contaners de los eventos
  a.event-element
    padding: 0.5em
    position: relative
    text-decoration: none

    // Cada uno de los eventos
    article.event
      overflow: hidden
      @include entire-border(#dedede)
      padding: 0.5em

      // Titutlo del evento
      h2
        color: #313131
        text-align: left
        margin-top: 10px
        margin-bottom: 5px
        font-size: 20px
        font-weight: bold

      // textos
      p
        color: #333
        text-align: left

      // Contenedor de la imagen del evento
      div.event-image-wrapper
        position: relative
        overflow: hidden
        background: black
        transition: all 0.5s ease
        @include entire-border(black)

        // imagen del evento
        img
          position: relative
          max-width: 100%
          width: 100%
          height: 165px
          max-height: 165px
          transition: all 0.5s ease
        // Precio del evento
        span.price
          position: absolute
          top: 10px
          right: -55px
          font-weight: bold
          font-size: 1.5em
          color: white
          padding: 0.5em 3em 0.25em 3em
          background: #30b3ad
          -ms-transform: rotate(45deg)
          -webkit-transform: rotate(45deg)
          transform: rotate(45deg)
          text-transform: uppercase

      // Contenedor de categoria
      div.category-wrapper
        margin-top: 1em
        p
          font-weight: bold
          font-size: 0.8em
          margin: 0

      // Contenedor de tags
      div.tags-wrapper
        overflow-y: auto /* sale scroll si hay contenido de más, sino no */
        height: 48px
        span
          background: $RGBmainColor
          color: white
          font-weight: bold
          font-size: 0.8em
          padding: 0.25em 0.5em
          display: inline-block
          margin-top: 0.25em

    // Efectos <hover> para marcar el evento seleccionado
    article.event:hover,
    article.event:focus
      -webkit-box-shadow: 0px 0px 47px 0px rgba(0,0,0,0.5)
      -moz-box-shadow: 0px 0px 47px 0px rgba(0,0,0,0.5)
      box-shadow: 0px 0px 47px 0px rgba(0,0,0,0.5)
      @include entire-border($RGBAmainColor)
