// Colors
$RGBmainColor: rgb(48, 179, 173)


// Contenedor del footer
#footer
  margin-top: 20em
  padding: 5em 0
  background-color: white
  border-top: 2px solid $RGBmainColor

  // Contenedor de los textos e iconos
  #social-media
    a.social-link
      color: $RGBmainColor
    p
      color: #676767
    p.txt-railway
      font-weight: bold
