@import "../_mediaqueries/category"


// MIXINS
@mixin entire-border($color)  // @mixin para crear border en un elemento
  border: 1px solid $color

@mixin bottom-border($color)  // @mixin para crear border-bottom en un elemento
  border-bottom: 1px solid $color


// VARIABLES
$RGBmainColor: rgb(48, 179, 173)
$RGBAmainColor: rgba(48, 179, 173,1)
$RGBmainColorHover: rgb(33,158,152)
$mainFontFamily: "Roboto", sans-serif


// PARA LOS DOS SUBMENUS
#aside
  // <ul> left list
  ul.submenu
    margin-top: 5em
    width: 100%
    max-width: 100%
    position: relative
    background: white
    // Cabecera submenu
    header.submenu-header
      background: $RGBmainColor
      border-bottom: 5px solid $RGBmainColorHover
      margin-bottom: 2em
      // Subcategoria title
      h2
        color: white
        font-size: 1.5em
        font-weight: bold
        text-align: center
        text-transform: capitalize
        margin: 0
        padding: 1em 0
        font-family: $mainFontFamily
      i
        visibility: hidden
        color: white
        font-size: 0.8em
        position: absolute
        right: 25px
        top: 10px


    header.submenu-header:hover
      cursor: pointer
    > div
      display: block

    // Cada uno de los elementos
    li
      list-style: none
      @include entire-border(#dedede)
      margin-bottom: -1px
      position: relative
      // Texto interior
      a
        color: #555
        font-size: 1em
        font-weight: 500
        text-align: left
        display: block
        padding: 1em 0
        text-transform: capitalize
        font-family: $mainFontFamily
      // Icono de flecha
      i
        position: absolute
        font-weight: bold
        color: $RGBmainColor
        left: 30px
      input
        border: 1px solid #dedede
      // Contenedores de sliderbars
      .filter-wrapper
        // SliderBars
        .slider-container
          position: relative
          width: 100%
          max-width: 100%
          margin: 2em 0

      a:hover
        color: $RGBmainColor
        text-decoration: none

    // Efecto hover del <li> left menu
    li:hover
      cursor: pointer


// Para SOLO categories
ul#subcategories
  li
    padding-left: 50px
    i
      top: 16px

// Para SOLO filters
ul#filters
  li
    padding: 1em 30px 1em 40px
    font-family: $mainFontFamily
    font-size: 1em
    font-weight: 400
    i
      top: 25px
    header
      h3
        font-size: 1.25em
        color: $RGBmainColor
        margin: 10px 0
        text-decoration: underline
        font-family: $mainFontFamily

// Filters de fecha
#datePicker-wrapper
  p
    margin: 0
  input
    margin-bottom: 1em
    color: #a8a8a8
    width: 80%
    max-width: 80%
