/* Daddy top navigator */
#daddynav
  background-color: #30b3ad
  color: white
  max-width: 100%
  width: 100%
  margin-bottom: 0
  border: none
  z-index: 999

/* div grande que envuelve a los dos navegadores, responsive y fijo */
#daddynav > div.navbar-header
  background: #30b3ad

/* Button de resposnive */
#daddynav.navbar-default .navbar-toggle
  background-color: rgba(48,179,173,1)
  border: 1px solid white

#daddynav.navbar-default .navbar-toggle:focus,
#daddynav.navbar-default .navbar-toggle:hover
  background-color: rgba(255,255,255,.2)


/* "button" de menu, son 3 spans */
#daddynav > div.navbar-header span.icon-bar
  background-color: white

/* Menu que aparece en dispositvos gradndes */
#navbarCollapse
  background-color: #30b3ad !important

/* Color de letra de los links y iconos */
#navbarCollapse a,
#navbarCollapse i
  color: white

#navbarCollapse a
  font-weight: 500

/* Efecto hover de los links y iconos */
#navbarCollapse a:hover + i
  opacity: 1
  cursor: pointer
