@mixin darkGradient()
  background: rgba(0, 102, 102, 1)
  background: -moz-linear-gradient(top, rgba(0, 102, 102, 1) 0%, rgba(0, 128, 128, 1) 100%)
  background: -webkit-linear-gradient(top, rgba(0, 102, 102, 1) 0%, rgba(0, 128, 128, 1) 100%)
  background: -o-linear-gradient(top, rgba(0, 102, 102, 1) 0%, rgba(0, 128, 128, 1) 100%)
  background: -ms-linear-gradient(top, rgba(0, 102, 102, 1) 0%, rgba(0, 128, 128, 1) 100%)
  background: linear-gradient(to bottom, rgba(0, 102, 102, 1)  0%, rgba(0, 128, 128, 1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#008080', GradientType=0 )

@mixin darkGradientHover()
  background: rgba(0, 77, 77, 1)
  background: -moz-linear-gradient(top, rgba(0, 77, 77, 1) 0%, rgba(0, 102, 102, 1) 100%)
  background: -webkit-linear-gradient(top, rgba(0, 77, 77, 1) 0%, rgba(0, 102, 102, 1) 100%)
  background: -o-linear-gradient(top, rgba(0, 77, 77, 1) 0%, rgba(0, 102, 102, 1) 100%)
  background: -ms-linear-gradient(top, rgba(0, 77, 77, 1) 0%, rgba(0, 102, 102, 1) 100%)
  background: linear-gradient(to bottom, rgba(0, 77, 77, 1) 0%, rgba(0, 102, 102, 1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d4d', endColorstr='#006666', GradientType=0 )


#accordion
  // Cada uno de los <headers> de los perfiles
  .header-accordion
    padding: 1.2em 2em 0.9em 3em
    color: white
    border-color: #d6e9c6
    text-transform: capitalize
    letter-spacing: 3px
    @include darkGradient

  // Efectos hover para cada uno de los perfiles
  .header-accordion:hover, .header-accordion:focus, .header-accordion:active
    outline: none
    @include darkGradientHover



  // Tags de los distintos perfiles
  ul.tags
    width: 100%
    li.tag
      @include darkGradient
    li.tag:hover
      @include darkGradientHover

.defaultIcon
  background-image: url("../../css/jquery-ui/images/arrow-down.png") !important
  position: absolute
  left: .5em
  margin-top: -5px
  margin-left: 5px
  transform: rotate(-90deg)

.selectedIcon
  background-image: url("../../css/jquery-ui/images/arrow-down.png") !important
  position: absolute
  left: .5em
  margin-top: -5px
  margin-left: 5px