// Contenedor de tags del usuario
ul.tags
  margin: 0
  padding: 0
  width: 80%
  li.tag
    padding: 0.4em 0.5em
    font-size: 0.9em
    display: inline-block
    margin: 0.2em
    color: white
    background: rgba(48,179,173,1)
    background: -moz-linear-gradient(top, rgba(48,179,173,1) 0%, rgba(58,194,185,1) 100%)
    background: -webkit-linear-gradient(top, rgba(48,179,173,1) 0%, rgba(58,194,185,1) 100%)
    background: -o-linear-gradient(top, rgba(48,179,173,1) 0%, rgba(58,194,185,1) 100%)
    background: -ms-linear-gradient(top, rgba(48,179,173,1) 0%, rgba(58,194,185,1) 100%)
    background: linear-gradient(to bottom, rgba(48,179,173,1) 0%, rgba(58,194,185,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30b3ad', endColorstr='#3ac2b9', GradientType=0 )
    border-color: #d6e9c6
  li:hover
    cursor: pointer
    background: rgba(34,153,147,1)
    background: -moz-linear-gradient(top, rgba(34,153,147,1) 0%, rgba(35,173,164,1) 100%)
    background: -webkit-linear-gradient(top, rgba(34,153,147,1) 0%, rgba(35,173,164,1) 100%)
    background: -o-linear-gradient(top, rgba(34,153,147,1) 0%, rgba(35,173,164,1) 100%)
    background: -ms-linear-gradient(top, rgba(34,153,147,1) 0%, rgba(35,173,164,1) 100%)
    background: linear-gradient(to bottom, rgba(34,153,147,1) 0%, rgba(35,173,164,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#229993', endColorstr='#23ada4', GradientType=0 )
