html, body {
  width: 100%;
  height: 100%; }
  html main, body main {
    height: 100%; }

#error-wrapper img {
  display: block;
  margin: 0 auto; }
#error-wrapper h1 {
  text-align: center;
  position: absolute;
  bottom: 0; }

/*# sourceMappingURL=error.css.map */
