@media (max-width: 550px) {
  #form-searcher > div {
    max-width: 80% !important;
    width: 80% !important; } }
@media (min-width: 551px) and (max-width: 675px) {
  #form-searcher > div {
    max-width: 60% !important;
    width: 60% !important; } }
@media (min-width: 676px) and (max-width: 900px) {
  #form-searcher > div {
    max-width: 50% !important;
    width: 50% !important; } }

/*# sourceMappingURL=header.css.map */
