@charset "UTF-8";
@media (max-width: 992px) {
  #aside {
    padding: 0;
    /* Lista que engloba todas las subcategorias <ul> */ }
    #aside ul.submenu {
      margin: 0;
      padding: 0;
      /* Header de cada uno de los sub menús */ }
      #aside ul.submenu header.submenu-header {
        margin-bottom: 0;
        /* Disminuimos tamaño de los títutlos de submenus */ }
        #aside ul.submenu header.submenu-header h2 {
          padding: 0.5em 0;
          font-size: 1.2em; }
        #aside ul.submenu header.submenu-header i {
          visibility: visible; }
      #aside ul.submenu header.submenu-header:hover {
        background-color: #30b3ad; }
      #aside ul.submenu > div {
        display: none;
        /* Quitamos el padding-left de los <li> */ }
        #aside ul.submenu > div li {
          padding: 0;
          /* Ocultamos las flechas */
          /* Centramos el texto */
          /* Resize de los cuadros de los filtros */ }
          #aside ul.submenu > div li i {
            display: none; }
          #aside ul.submenu > div li a {
            text-align: center;
            padding: 0.5em 0; }
          #aside ul.submenu > div li div.filter-wrapper {
            padding: 1em 0;
            /* Metemos los inputs en la misma linia */
            /* Segon checkbox */ }
            #aside ul.submenu > div li div.filter-wrapper header {
              /* Centramos el texto y quitamos alto */ }
              #aside ul.submenu > div li div.filter-wrapper header h3 {
                text-align: center;
                margin: 0; }
            #aside ul.submenu > div li div.filter-wrapper div.checkbox-option {
              display: inline-block;
              width: 49%;
              max-width: 49%;
              margin-top: 1em;
              text-align: right;
              padding-right: 1em; }
            #aside ul.submenu > div li div.filter-wrapper div.checkbox-option:last-child {
              text-align: left;
              padding-right: 0;
              padding-left: 1em; }

  /* Referente al datePicker */
  #datePicker-wrapper p {
    text-align: center;
    margin-top: 1em; }
  #datePicker-wrapper input {
    width: 50%;
    max-width: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center; }

  /* Resize de la barra deslizadora de precios */
  #aside ul.submenu li .filter-wrapper .slider-container {
    width: 60% !important;
    max-width: 60% !important;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em; } }
@media (max-width: 600px) {
  #aside ul.submenu header.submenu-header h2 i {
    right: 20%; } }

/*# sourceMappingURL=left-menu.css.map */
