@media (min-width: 992px) {
  #nav-categories-header-responsive {
    display: none; }

  #categories-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: block !important; }
    #categories-list > li {
      border: none !important;
      display: inline-block !important;
      position: relative;
      list-style: none;
      background-color: transparent !important; }
      #categories-list > li > a {
        display: inline-block;
        color: white !important;
        padding: 24.5px 16px !important;
        text-decoration: none;
        text-transform: uppercase !important;
        font-weight: bold !important;
        opacity: 1 !important;
        text-transform: uppercase; }
        #categories-list > li > a span.evo-text {
          color: white !important; }
      #categories-list > li ul.hover-menu {
        display: block !important;
        position: absolute;
        top: 73px;
        border-bottom: 5px solid #30b3ad;
        background: white;
        padding: 1em 2em; }
        #categories-list > li ul.hover-menu li.hover-menu-li {
          list-style: none; }
          #categories-list > li ul.hover-menu li.hover-menu-li a {
            color: #111;
            font-size: 0.7em; }
            #categories-list > li ul.hover-menu li.hover-menu-li ahover {
              color: red; }

  #categories-list li a:hover {
    background-color: #30b3ad;
    color: white; } }

/*# sourceMappingURL=navigator-main.css.map */
