#breadcrumb-wrapper {
  margin-top: 3em; }

ol.breadcrumb {
  margin-bottom: 5px;
  text-transform: capitalize; }
  ol.breadcrumb li a {
    color: #30adb3;
    font-weight: bold; }

/*# sourceMappingURL=breadcrumbs.css.map */
