#comments-wrapper {
  border-top: 1px solid #dedede; }
  #comments-wrapper h2 {
    font-weight: bold; }

#comment-textarea, #comment-title {
  display: block;
  padding: 0.5em;
  border: 1px solid #dedede;
  border-radius: 2px;
  width: 100%;
  max-width: 100%; }

#comment-title {
  margin-bottom: 0.5em; }

#comment-textarea {
  height: 100px; }

#post {
  background: #30b3ad;
  border: none;
  margin-top: 0.2em;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.4em;
  text-align: center;
  width: 160px;
  text-transform: capitalize; }

ul#all-comments {
  padding-left: 0; }
  ul#all-comments li.user-comment {
    list-style: none;
    margin-bottom: 1em;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1em;
    position: relative;
    padding-bottom: 1em; }
  ul#all-comments h3.comment-title, ul#all-comments p.comment-body {
    font-size: 13px;
    line-height: 1.5em;
    margin-bottom: 0; }
  ul#all-comments h3.comment-title {
    font-weight: 700;
    color: black; }
    ul#all-comments h3.comment-title i {
      color: goldenrod; }
  ul#all-comments p.comment-body {
    font-style: italic;
    text-align: justify; }
  ul#all-comments span.comment-author {
    font-size: 0.8em;
    color: #555; }

div.starRating {
  margin-top: 0.5em; }
  div.starRating .form-control {
    border: 1px solid #dedede !important; }
  div.starRating .form-control:hover {
    cursor: pointer; }

div.star-div {
  display: inline-block;
  margin-right: 1em; }
  div.star-div input[type="radio"]:hover {
    cursor: pointer; }
  div.star-div i.fa-star {
    color: goldenrod;
    font-size: 0.8em; }
  div.star-div i.fa-star-o {
    color: #ccc;
    font-size: 0.8em; }

/*# sourceMappingURL=comments.css.map */
