.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
  border: 2px solid #219e98 !important;
  z-index: 999 !important; }
  .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all tr {
    color: #219e98 !important; }
  .ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all tbody a {
    border: 1px solid rgba(48, 179, 173, 0.3) !important; }

.ui-datepicker-header {
  background: #30b3ad !important;
  color: white !important;
  border-bottom: 2px solid #219e98 !important; }

/*# sourceMappingURL=datePicker.css.map */
