#content-wrapper {
  margin-top: 5em; }
  #content-wrapper .container {
    max-width: 100%; }

div.event-row {
  margin-bottom: 2em; }
  div.event-row header {
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em; }
    div.event-row header h1 {
      font-size: 1.5em;
      margin: 0;
      font-weight: bold;
      border-bottom: 1px solid #dedede; }
  div.event-row a.event-element {
    padding: 0.5em;
    position: relative;
    text-decoration: none; }
    div.event-row a.event-element article.event {
      overflow: hidden;
      border: 1px solid #dedede;
      padding: 0.5em; }
      div.event-row a.event-element article.event h2 {
        color: #313131;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: bold; }
      div.event-row a.event-element article.event p {
        color: #333;
        text-align: left; }
      div.event-row a.event-element article.event div.event-image-wrapper {
        position: relative;
        overflow: hidden;
        background: black;
        transition: all 0.5s ease;
        border: 1px solid black; }
        div.event-row a.event-element article.event div.event-image-wrapper img {
          position: relative;
          max-width: 100%;
          width: 100%;
          height: 165px;
          max-height: 165px;
          transition: all 0.5s ease; }
        div.event-row a.event-element article.event div.event-image-wrapper span.price {
          position: absolute;
          top: 10px;
          right: -55px;
          font-weight: bold;
          font-size: 1.5em;
          color: white;
          padding: 0.5em 3em 0.25em 3em;
          background: #30b3ad;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          text-transform: uppercase; }
      div.event-row a.event-element article.event div.category-wrapper {
        margin-top: 1em; }
        div.event-row a.event-element article.event div.category-wrapper p {
          font-weight: bold;
          font-size: 0.8em;
          margin: 0; }
      div.event-row a.event-element article.event div.tags-wrapper {
        overflow-y: auto;
        height: 48px; }
        div.event-row a.event-element article.event div.tags-wrapper span {
          background: #30b3ad;
          color: white;
          font-weight: bold;
          font-size: 0.8em;
          padding: 0.25em 0.5em;
          display: inline-block;
          margin-top: 0.25em; }
    div.event-row a.event-element article.event:hover,
    div.event-row a.event-element article.event:focus {
      -webkit-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.5);
      border: 1px solid #30b3ad; }

/*# sourceMappingURL=event-row.css.map */
