div.modal-header {
  border-bottom: 2px solid #006666 !important;
  background: #30b3ad;
  color: white; }
  div.modal-header h4 {
    font-size: 1.5em;
    font-weight: bold; }
  div.modal-header button.close {
    margin-top: 3px; }

div.modal-content {
  border: none !important; }
  div.modal-content form {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding: 1em 0; }
    div.modal-content form header {
      margin-bottom: 1em; }
      div.modal-content form header h4 {
        font-size: 1.7em; }
        div.modal-content form header h4 span {
          margin-left: 1em;
          color: #30b3ad; }
    div.modal-content form label {
      font-weight: 400 !important;
      display: block; }
    div.modal-content form input, div.modal-content form textarea {
      border: 1px solid #dedede !important;
      display: block;
      border-radius: 2px;
      padding: 0.5em;
      width: 100%; }
    div.modal-content form textarea {
      height: 75px;
      max-height: 75px; }
    div.modal-content form input:focus, div.modal-content form input:active, div.modal-content form textarea:active, div.modal-content form textarea:focus {
      outline-color: #30b3ad; }
  div.modal-content div.modal-body {
    overflow: hidden; }
    div.modal-content div.modal-body button {
      background: #30b3ad;
      color: white;
      letter-spacing: 1px;
      border: none;
      border-bottom: 3px solid #006666 !important;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      padding: 0.751em 2.5em; }

/*# sourceMappingURL=modals.css.map */
