@media (min-width: 992px) {
  #nav-categories-header-responsive {
    display: none; }

  #categories-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    display: block !important; }
    #categories-list > li {
      border: none !important;
      display: inline-block !important;
      position: relative;
      list-style: none;
      background-color: transparent !important; }
      #categories-list > li > a {
        display: inline-block;
        color: white !important;
        padding: 24.5px 16px !important;
        text-decoration: none;
        text-transform: uppercase !important;
        font-weight: bold !important;
        opacity: 1 !important;
        text-transform: uppercase; }
        #categories-list > li > a span.evo-text {
          color: white !important; }
      #categories-list > li ul.hover-menu {
        display: block !important;
        position: absolute;
        top: 73px;
        border-bottom: 5px solid #30b3ad;
        background: white;
        padding: 1em 2em; }
        #categories-list > li ul.hover-menu li.hover-menu-li {
          list-style: none; }
          #categories-list > li ul.hover-menu li.hover-menu-li a {
            color: #111;
            font-size: 0.7em; }
            #categories-list > li ul.hover-menu li.hover-menu-li ahover {
              color: red; }

  #categories-list li a:hover {
    background-color: #30b3ad;
    color: white; } }
#nav-categories {
  background-color: #333;
  border-bottom: 5px solid #30b3ad;
  border-top: 1px solid #333;
  padding: 0; }

#nav-categories-header-responsive {
  padding: 1.75em;
  border-bottom: 5px solid #30b3ad; }
  #nav-categories-header-responsive h1 {
    color: white;
    text-align: center;
    opacity: 0.8;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    position: relative; }
    #nav-categories-header-responsive h1 i {
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transition: all 0.7s ease;
      time-moz-transition: all 0.7s ease;
      time-ms-transition: all 0.7s ease;
      time-o-transition: all 0.7s ease;
      timetransition: all 0.7s ease time; }

#categories-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: none; }
  #categories-list > li {
    display: block;
    text-transform: uppercase;
    font-size: 1.25em;
    display: block;
    background: white;
    text-transform: uppercase;
    font-size: 1.25em;
    list-style: none;
    border: 1px solid #dedede;
    margin-bottom: -1px;
    position: relative; }
    #categories-list > li > a {
      opacity: 0.8;
      display: block;
      text-align: center;
      padding: 30px 16px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Roboto", sans-serif;
      font-size: 0.8em;
      color: #111;
      text-align: center;
      padding: 0.5em 0; }
      #categories-list > li > a span.evo-text {
        font-weight: 100 !important;
        text-transform: uppercase;
        color: #555; }
    #categories-list > li ul.hover-menu {
      display: none; }
    #categories-list > li > a:hover {
      opacity: 1;
      color: #555;
      font-weight: bold; }

#nav-categories-header-responsive:hover,
#categories-list li:hover {
  cursor: pointer; }

/*# sourceMappingURL=navigator-main.css.map */
