div.modal-header {
  border-bottom: 2px solid #006666;
  background: #30b3ad;
  color: white; }
  div.modal-header h4 {
    font-size: 1.5em; }
  div.modal-header button.close {
    margin-top: 3px; }

div.modal-content form {
  overflow: hidden; }
  div.modal-content form label {
    font-weight: 400; }
  div.modal-content form input {
    border-color: #dedede; }
  div.modal-content form input:focus, div.modal-content form input:active {
    outline-color: #30b3ad; }
div.modal-content div.modal-body button, div.modal-content div.modal-body button {
  background: #30b3ad;
  color: white;
  letter-spacing: 1px;
  border: none;
  border-bottom: 2px solid #006666;
  font-weight: 100; }

/*# sourceMappingURL=profile-modals.css.map */
