ul.tags {
  margin: 0;
  padding: 0;
  width: 80%; }
  ul.tags li.tag {
    padding: 0.4em 0.5em;
    font-size: 0.9em;
    display: inline-block;
    margin: 0.2em;
    color: white;
    background: #30b3ad;
    background: -moz-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: -webkit-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: -o-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: -ms-linear-gradient(top, #30b3ad 0%, #3ac2b9 100%);
    background: linear-gradient(to bottom, #30b3ad 0%, #3ac2b9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30b3ad', endColorstr='#3ac2b9', GradientType=0 );
    border-color: #d6e9c6; }
  ul.tags li:hover {
    cursor: pointer;
    background: #229993;
    background: -moz-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: -webkit-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: -o-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: -ms-linear-gradient(top, #229993 0%, #23ada4 100%);
    background: linear-gradient(to bottom, #229993 0%, #23ada4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#229993', endColorstr='#23ada4', GradientType=0 ); }

/*# sourceMappingURL=profile-tags-usuario.css.map */
