{% extends "AppBundle::admin-layout.html.twig" %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/form-common.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_categoryFormTitle' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> {{ 'str_home' | trans }}</a></li>
                            <li class="active">{{ 'str_createCategory' | trans }}</li>
                        </ol>
                    </section>

                    {# Category form#}
                    <section class="form col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">

                        {{ form_start(formCategory) }}
                            {{ form_errors(formCategory) }}
                                <div class="form-group">{{ form_row(formCategory.name) }}</div>
                                <div class="form-group">{{ form_row(formCategory.description) }}</div>
                                <div class="form-group" id="allRow">{{ form_row(formCategory.parentCategory) }}</div>

                                <div class="form-div-normal ">
                                    <div class="form-div-checkbox">{{ form_row(formCategory.isPublic) }}</div>
                                    <div class="form-div-checkbox-left">{{  form_row(formCategory.isActive) }}</div>
                                </div>
                        {{ form_row(formCategory._token) }}
                        <button type="submit">{{ 'str_addCategory' | trans }}</button>
                        {{ form_row(formCategory.name) }}

                    </section>

                </div>

            </div>
        </div>
    </div>
{% endblock %}