{% extends "AppBundle::admin-layout.html.twig" %}


{# Macro usado para printear la miniatura o cuadrado de un evento #}
{% import "AppBundle:macros:searcher.html.twig" as searcherMacros %}



{# BROWSER TITLE #}
{% block browserTitle %}Administrator panel ~ Evolution{% endblock %}


{# OWN CSS #}
{%  block owncss %}
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/searcher.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/css/_modules/tooltip.css') }}">
{% endblock %}


{# All the content #}
{% block content %}
    <div id="main" class="content-wrapper">
        <div class="container-fluid">
            <div class="row">

                <div id="admin-pagecontent">

                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1><small>{{ 'str_allCategoriesCreated' | trans }}</small></h1>
                        <ol class="breadcrumb">
                            <li class="past"><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">{{ 'str_listAllCategories' | trans }}</li>
                        </ol>
                    </section>


                    {# Creamos el buscador con el parametro como placeholder #}
                    {{ searcherMacros.printSearcher() }}


                    {# MENSAJE ERROR: Aparece cuando no se ha podido  borrar #}
                    <aside id="error-message">
                        <p>{{ 'str_deleteError' | trans }}</p>
                        <i id="close-error-message" class="fa fa-times" aria-hidden="true"></i>
                    </aside>


                    <!-- LIST -->
                    <div class="box-body table-responsive no-padding">

                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {{ 'str_nombre' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_descripcion' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_parent' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_children' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>
                                    {{ 'str_public' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th class="table_header">
                                    {{ 'str_isActive' | trans }}
                                    <i class="fa fa-exchange" aria-hidden="true"></i>
                                </th>

                                <th>{{ 'str_actions' | trans }}</th>
                            </tr>
                            {# Si hay categories#}
                            {% if categories %}
                                {% for category in categories %}
                                    {% if category.isActive == true %}<tr class="isactive">{% else %}<tr class="isnotactive">{% endif %}
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.description }}</td>

                                        {% if category.parentCategory %}
                                            <td>{{ category.parentCategory.name }}</td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}

                                        <td>
                                            {% if category.childrens %}
                                                {% for children in category.childrens %}
                                                    <p>{{ children.name }}</p>
                                                {% endfor %}
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if category.isPublic == 1 %}
                                                {{ 'str_yes' | trans }}
                                            {% else %}
                                                {{ 'str_no' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>
                                            {% if category.isActive == true %}
                                                {{ 'str_yes' | trans }}
                                            {% else %}
                                                {{ 'str_no' | trans }}
                                            {% endif %}
                                        </td>

                                        <td>


                                            {% if category.isPublic %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-lock modify-isnotpublic" aria-hidden="true" onclick="setPrivate({{ category.id }})"></i>
                                                    <span>{{ 'str_convertPrivate' | trans }}</span>
                                                </a>
                                            {% else %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-unlock modify-ispublic" aria-hidden="true" onclick="setPublic({{ category.id }})"></i>
                                                    <span>{{ 'str_convertPublic' | trans }}</span>
                                                </a>
                                            {% endif %}

                                            {% if category.isActive %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-eye-slash modify-isnotvisible" aria-hidden="true" onclick="setInactive({{ category.id }})"></i>
                                                    <span>{{ 'str_desactivate' | trans }}</span>
                                                </a>
                                            {% else %}
                                                <a class="tooltips" href="#">
                                                    <i class="fa fa-eye modify-isvisible" aria-hidden="true" onclick="setActive({{ category.id }})"></i>
                                                    <span>{{ 'str_activate' | trans }}</span>
                                                </a>
                                            {% endif %}

                                            <a class="tooltips" href="/admin/edit/category/{{ category.id }}">
                                                <i class="fa fa-pencil-square-o modify-user" aria-hidden="true"></i>
                                                <span>{{ 'str_edit' | trans }}</span>
                                            </a>

                                            <a class="tooltips" href="#">
                                                <i onclick="deleteCategory({{ category.id }})" class="fa fa-times delete-user" aria-hidden="true"></i>
                                                <span>{{ 'str_delete' | trans }}</span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {# si NO hay admins, mostramos mensaje#}
                            {% else %}
                                <tr>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                    <td><h5>-</h5></td>
                                </tr>
                            {% endif %}
                        </table>

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block someAjaxActions %}
<script>
    function deleteCategory(id)
    {
        // Si el usuario confirma
        if (confirm('Ha seleccionado la opción: Borrar una categoia. Si acepta, se borrarán todas las subacategorias y eventos que contengan esta categoria.')) {
            var datos = {};
            datos.id = id;

            $.ajax({
                url: ' {{ path('delete_category') }} ',
                data: datos,
                type: 'post'
            }).success(function (data) {
                if(data.type == 'OK'){
                    window.location.reload();
                }
            });
        }
    }

    function setPublic(id)
    {
        // Si el usuario confirma

        var datos = {};
        datos.id = id;

        $.ajax({
            url: ' {{ path('fast_public_category') }} ',
            data: datos,
            type: 'post'
        }).success(function (data) {
            if(data.type == 'OK'){
                window.location.reload();
            }
        });

    }

    function setPrivate(id)
    {
        // Si el usuario confirma

        var datos = {};
        datos.id = id;

        $.ajax({
            url: ' {{ path('fast_private_category') }} ',
            data: datos,
            type: 'post'
        }).success(function (data) {
            if(data.type == 'OK'){
                window.location.reload();
            }
        });

    }

    function setActive(id)
    {
        // Si el usuario confirma

        var datos = {};
        datos.id = id;

        $.ajax({
            url: ' {{ path('fast_active_category') }} ',
            data: datos,
            type: 'post'
        }).success(function (data) {
            if(data.type == 'OK'){
                window.location.reload();
            }
        });

    }

    function setInactive(id)
    {
        // Si el usuario confirma

        var datos = {};
        datos.id = id;

        $.ajax({
            url: ' {{ path('fast_inactive_category') }} ',
            data: datos,
            type: 'post'
        }).success(function (data) {
            if(data.type == 'OK'){
                window.location.reload();
            }
        });

    }

    $('#close-error-message').click(function(){
        $('#error-message').slideUp();
    });
</script>
{% endblock %}