// Estructura para los comments con el titulo del evento, valoracion, username y comentario

ul.feed-comments
  position: relative
  margin: 0
  padding: 0.5em
  li.feed-comments-element
    position: relative
    padding: 0.5em
    margin-top: 0.2em
    h5, span.bold
      font-weight: 500
    h5
      font-size: 1em
      margin: 0
      font-weight: 100
      a
        color: #3e3f3a
      a:hover
        text-decoration: underline
    p
      margin: 0
      font-size: 0.8em



  li.feed-event-element::after
    content: ""
    width: 10%
    height: 1px
    background-color: #dedede
    margin: 0 auto
    position: absolute
    bottom: -3px