// Estructura para los eventos con la imagen en circulo, título y descripcion.

ul.feed-events
  position: relative
  margin: 0
  padding: 0.5em
  li.feed-event-element
    position: relative
    padding: 0.5em 0.5em 0.5em 3em
    margin-top: 0.2em
    h3
      font-size: 1em
      margin: 0
    p
      margin: 0
      font-size: 0.8em
    img
      position: absolute
      width: 30px
      height: 30px
      top: 5px
      left: 5px
      border-radius: 50%

  li.feed-event-element::after
    content: ""
    width: 10%
    height: 1px
    background-color: #dedede
    margin: 0 auto
    position: absolute
    bottom: -3px
  li.feed-event-element:last-child::after
    content: ""
    width: 0
    height: 0