// Colors
$RGBmainColor: rgb(48, 179, 173)
$RGBmainColorHover: rgb(33,158,152)

// Tags
span.tag
  background: $RGBmainColor
  padding: 0.1em 0.3em
  color: white
  font-size: 0.8em
  display: inline-block

span.tag:hover
  background: rgb(33,158,152)
  cursor: pointer